node_modules
npm-debug.log

.DS_STORE

.env

debug

.sass-cache
*.css.map
public/app/style.css
public/app/index.html

public/app/js/all.js

x2jtest.js

dist

*.swp

dev-app-update.yml

yarn-error.log
