:root {
  --md-black: #000000;
  --md-black-rgb: 0, 0, 0;
  --md-white: #FFFFFF;
  --md-white-rgb: 255, 255, 255;
  --md-red50: #FFEBEE;
  --md-red100: #FFCDD2;
  --md-red200: #EF9A9A;
  --md-red300: #E57373;
  --md-red400: #EF5350;
  --md-red500: #F44336;
  --md-red600: #E53935;
  --md-red700: #D32F2F;
  --md-red800: #C62828;
  --md-red900: #B71C1C;
  --md-redA100: #FF8A80;
  --md-redA200: #FF5252;
  --md-redA400: #FF1744;
  --md-redA700: #D50000;
  --md-pink50: #FCE4EC;
  --md-pink100: #F8BBD0;
  --md-pink200: #F48FB1;
  --md-pink300: #F06292;
  --md-pink400: #EC407A;
  --md-pink500: #E91E63;
  --md-pink600: #D81B60;
  --md-pink700: #C2185B;
  --md-pink800: #AD1457;
  --md-pink900: #880E4F;
  --md-pinkA100: #FF80AB;
  --md-pinkA200: #FF4081;
  --md-pinkA400: #F50057;
  --md-pinkA700: #C51162;
  --md-purple50: #F3E5F5;
  --md-purple100: #E1BEE7;
  --md-purple200: #CE93D8;
  --md-purple300: #BA68C8;
  --md-purple400: #AB47BC;
  --md-purple500: #9C27B0;
  --md-purple600: #8E24AA;
  --md-purple700: #7B1FA2;
  --md-purple800: #6A1B9A;
  --md-purple900: #4A148C;
  --md-purpleA100: #EA80FC;
  --md-purpleA200: #E040FB;
  --md-purpleA400: #D500F9;
  --md-purpleA700: #AA00FF;
  --md-deeppurple50: #EDE7F6;
  --md-deeppurple100: #D1C4E9;
  --md-deeppurple200: #B39DDB;
  --md-deeppurple300: #9575CD;
  --md-deeppurple400: #7E57C2;
  --md-deeppurple500: #673AB7;
  --md-deeppurple600: #5E35B1;
  --md-deeppurple700: #512DA8;
  --md-deeppurple800: #4527A0;
  --md-deeppurple900: #311B92;
  --md-deeppurpleA100: #B388FF;
  --md-deeppurpleA200: #7C4DFF;
  --md-deeppurpleA400: #651FFF;
  --md-deeppurpleA700: #6200EA;
  --md-indigo50: #E8EAF6;
  --md-indigo100: #C5CAE9;
  --md-indigo200: #9FA8DA;
  --md-indigo300: #7986CB;
  --md-indigo400: #5C6BC0;
  --md-indigo500: #3F51B5;
  --md-indigo600: #3949AB;
  --md-indigo700: #303F9F;
  --md-indigo800: #283593;
  --md-indigo900: #1A237E;
  --md-indigoA100: #8C9EFF;
  --md-indigoA200: #536DFE;
  --md-indigoA400: #3D5AFE;
  --md-indigoA700: #304FFE;
  --md-blue50: #E3F2FD;
  --md-blue100: #BBDEFB;
  --md-blue200: #90CAF9;
  --md-blue300: #64B5F6;
  --md-blue400: #42A5F5;
  --md-blue500: #2196F3;
  --md-blue600: #1E88E5;
  --md-blue700: #1976D2;
  --md-blue800: #1565C0;
  --md-blue900: #0D47A1;
  --md-blueA100: #82B1FF;
  --md-blueA200: #448AFF;
  --md-blueA400: #2979FF;
  --md-blueA700: #2962FF;
  --md-lightblue50: #E1F5FE;
  --md-lightblue100: #B3E5FC;
  --md-lightblue200: #81D4FA;
  --md-lightblue300: #4FC3F7;
  --md-lightblue400: #29B6F6;
  --md-lightblue500: #03A9F4;
  --md-lightblue600: #039BE5;
  --md-lightblue700: #0288D1;
  --md-lightblue800: #0277BD;
  --md-lightblue900: #01579B;
  --md-lightblueA100: #80D8FF;
  --md-lightblueA200: #40C4FF;
  --md-lightblueA400: #00B0FF;
  --md-lightblueA700: #0091EA;
  --md-cyan50: #E0F7FA;
  --md-cyan100: #B2EBF2;
  --md-cyan200: #80DEEA;
  --md-cyan300: #4DD0E1;
  --md-cyan400: #26C6DA;
  --md-cyan500: #00BCD4;
  --md-cyan600: #00ACC1;
  --md-cyan700: #0097A7;
  --md-cyan800: #00838F;
  --md-cyan900: #006064;
  --md-cyanA100: #84FFFF;
  --md-cyanA200: #18FFFF;
  --md-cyanA400: #00E5FF;
  --md-cyanA700: #00B8D4;
  --md-teal50: #E0F2F1;
  --md-teal100: #B2DFDB;
  --md-teal200: #80CBC4;
  --md-teal300: #4DB6AC;
  --md-teal400: #26A69A;
  --md-teal500: #009688;
  --md-teal600: #00897B;
  --md-teal700: #00796B;
  --md-teal800: #00695C;
  --md-teal900: #004D40;
  --md-tealA100: #A7FFEB;
  --md-tealA200: #64FFDA;
  --md-tealA400: #1DE9B6;
  --md-tealA700: #00BFA5;
  --md-green50: #E8F5E9;
  --md-green100: #C8E6C9;
  --md-green200: #A5D6A7;
  --md-green300: #81C784;
  --md-green400: #66BB6A;
  --md-green500: #4CAF50;
  --md-green600: #43A047;
  --md-green700: #388E3C;
  --md-green800: #2E7D32;
  --md-green900: #1B5E20;
  --md-greenA100: #B9F6CA;
  --md-greenA200: #69F0AE;
  --md-greenA400: #00E676;
  --md-greenA700: #00C853;
  --md-lightgreen50: #F1F8E9;
  --md-lightgreen100: #DCEDC8;
  --md-lightgreen200: #C5E1A5;
  --md-lightgreen300: #AED581;
  --md-lightgreen400: #9CCC65;
  --md-lightgreen500: #8BC34A;
  --md-lightgreen600: #7CB342;
  --md-lightgreen700: #689F38;
  --md-lightgreen800: #558B2F;
  --md-lightgreen900: #33691E;
  --md-lightgreenA100: #CCFF90;
  --md-lightgreenA200: #B2FF59;
  --md-lightgreenA400: #76FF03;
  --md-lightgreenA700: #64DD17;
  --md-lime50: #F9FBE7;
  --md-lime100: #F0F4C3;
  --md-lime200: #E6EE9C;
  --md-lime300: #DCE775;
  --md-lime400: #D4E157;
  --md-lime500: #CDDC39;
  --md-lime600: #C0CA33;
  --md-lime700: #AFB42B;
  --md-lime800: #9E9D24;
  --md-lime900: #827717;
  --md-limeA100: #F4FF81;
  --md-limeA200: #EEFF41;
  --md-limeA400: #C6FF00;
  --md-limeA700: #AEEA00;
  --md-yellow50: #FFFDE7;
  --md-yellow100: #FFF9C4;
  --md-yellow200: #FFF59D;
  --md-yellow300: #FFF176;
  --md-yellow400: #FFEE58;
  --md-yellow500: #FFEB3B;
  --md-yellow600: #FDD835;
  --md-yellow700: #FBC02D;
  --md-yellow800: #F9A825;
  --md-yellow900: #F57F17;
  --md-yellowA100: #FFFF8D;
  --md-yellowA200: #FFFF00;
  --md-yellowA400: #FFEA00;
  --md-yellowA700: #FFD600;
  --md-amber50: #FFF8E1;
  --md-amber100: #FFECB3;
  --md-amber200: #FFE082;
  --md-amber300: #FFD54F;
  --md-amber400: #FFCA28;
  --md-amber500: #FFC107;
  --md-amber600: #FFB300;
  --md-amber700: #FFA000;
  --md-amber800: #FF8F00;
  --md-amber900: #FF6F00;
  --md-amberA100: #FFE57F;
  --md-amberA200: #FFD740;
  --md-amberA400: #FFC400;
  --md-amberA700: #FFAB00;
  --md-orange50: #FFF3E0;
  --md-orange100: #FFE0B2;
  --md-orange200: #FFCC80;
  --md-orange300: #FFB74D;
  --md-orange400: #FFA726;
  --md-orange500: #FF9800;
  --md-orange600: #FB8C00;
  --md-orange700: #F57C00;
  --md-orange800: #EF6C00;
  --md-orange900: #E65100;
  --md-orangeA100: #FFD180;
  --md-orangeA200: #FFAB40;
  --md-orangeA400: #FF9100;
  --md-orangeA700: #FF6D00;
  --md-deeporange50: #FBE9E7;
  --md-deeporange100: #FFCCBC;
  --md-deeporange200: #FFAB91;
  --md-deeporange300: #FF8A65;
  --md-deeporange400: #FF7043;
  --md-deeporange500: #FF5722;
  --md-deeporange600: #F4511E;
  --md-deeporange700: #E64A19;
  --md-deeporange800: #D84315;
  --md-deeporange900: #BF360C;
  --md-deeporangeA100: #FF9E80;
  --md-deeporangeA200: #FF6E40;
  --md-deeporangeA400: #FF3D00;
  --md-deeporangeA700: #DD2C00;
  --md-brown50: #EFEBE9;
  --md-brown100: #D7CCC8;
  --md-brown200: #BCAAA4;
  --md-brown300: #A1887F;
  --md-brown400: #8D6E63;
  --md-brown500: #795548;
  --md-brown600: #6D4C41;
  --md-brown700: #5D4037;
  --md-brown800: #4E342E;
  --md-brown900: #3E2723;
  --md-grey50: #FAFAFA;
  --md-grey100: #F5F5F5;
  --md-grey200: #EEEEEE;
  --md-grey300: #E0E0E0;
  --md-grey400: #BDBDBD;
  --md-grey500: #9E9E9E;
  --md-grey600: #757575;
  --md-grey700: #616161;
  --md-grey800: #424242;
  --md-grey850: #323232;
  --md-grey875: #2a2a2a;
  --md-grey900: #212121;
  --md-grey925: #181818;
  --md-grey950: #101010;
  --md-bluegrey50: #ECEFF1;
  --md-bluegrey100: #CFD8DC;
  --md-bluegrey200: #B0BEC5;
  --md-bluegrey300: #90A4AE;
  --md-bluegrey400: #78909C;
  --md-bluegrey500: #607D8B;
  --md-bluegrey600: #546E7A;
  --md-bluegrey700: #455A64;
  --md-bluegrey800: #37474F;
  --md-bluegrey900: #263238;
}
