body.custom-scrollbar ::-webkit-scrollbar {
  width: 14px;
}

body.custom-scrollbar ::-webkit-scrollbar-track {
  background-color: var(--color-bg);
}

body.custom-scrollbar ::-webkit-scrollbar-thumb {
  border-radius: 7px;
  border: solid 3px;
  border-color: var(--color-bg);
  background-color: var(--color-text-tertiary);
}
