body {
  --color-bg: var(--md-grey100);
  --color-text: rgba(var(--md-black-rgb), 0.87);
  --color-text-strong: var(--md-black);
  --color-text-secondary: rgba(var(--md-black-rgb), 0.8);
  --color-text-tertiary: rgba(var(--md-black-rgb), 0.5);

  --color-link: #2962FF;
  --color-link-alt: var(--md-yellow900);
  --color-link-strong: var(--md-yellow500);
  --color-shadow: rgba(var(--md-black-rgb), 0.2);

  --color-overlay-bg: rgba(var(--md-black-rgb), 0.7);
  --color-overlay-bg-light: rgba(var(--md-black-rgb), 0.5);
  --color-overlay-text: var(--md-white);

  --color-header: var(--md-grey800);
  --color-header-link: var(--md-white);
  --color-header-link-active: var(--md-yellow500);

  --color-card-bg: var(--md-white);
  --color-card-bg-secondary: var(--md-grey200);
  --color-card-bg-tertiary: var(--md-grey300);
  --color-focus-outline: var(--md-yellow500);
  --color-placeholder-bg: var(--color-card-bg-secondary);
  --color-divider: rgba(var(--md-black-rgb), 0.25);

  --color-player-text: rgb(var(--md-white-rgb));
  --color-player-text-secondary: rgba(var(--md-white-rgb), 0.8);
  --color-player-divider: rgba(var(--md-white-rgb), 0.3);
  --color-player-slider-track: rgba(var(--md-white-rgb), 0.5);
  --color-player-bg-active: rgba(var(--md-white-rgb), 0.15);

  --color-button-bg-unsubscribe: var(--md-red500);

  --background-darken: 0;
}
