<dom-module id="cbus-episode">
    <template>
        <div class="episode_background"></div>
        <div class="episode_innards-container">
            <div class="episode_info">
                <h3 class="episode_title">{{title}}</h3>
                <h4 class="episode_feed-title">{{feedTitle}}</h4>
                <div class="episode_description-container no-style">
                    <p class="episode_description"></p>
                </div>
                <div class="episode_audio">
                    <audio class="episode_audio_player" src="{{url}}" preload="none"></audio>
                </div>
            </div>
        </div>
        <div class="episode_buttons">
            <button class="button shadow-h episode_button episode_button--show-description material-icons md-36" on-click="toggleDescription">info_outline</button>
            <button class="button shadow-h episode_button episode_button--enqueue material-icons md-36">playlist_add</button>
            <button class="button shadow-h episode_button episode_button--play material-icons md-36">play_arrow</button>
        </div>
    </template>

    <script>
        Polymer({
            is: "cbus-episode",

            properties: {
                image: {
                    type: String
                },
                title: {
                    type: String
                },
                feedTitle: {
                    type: String
                },
                url: {
                    type: String
                },
                description: {
                    type: String
                }
            },

            observers: [
                "setImage(image)",
                "setDescription(description)"
            ],

            setImage: function() {
                this.querySelector(".episode_background").style.backgroundImage = "url(" + this.image + ")";
            },

            setDescription: function() {
                $(this.querySelector(".episode_description")).text(this.description.replace(/(<([^>]+)>)/ig, ""));
            },

            toggleDescription: function(e) {
                this.classList.toggle("description-visible");

                if (this.classList.contains("description-visible")) {
                    $(e.target).text("info")
                } else {
                    $(e.target).text("info_outline");
                }
            }
        });
    </script>
</dom-module>
