<dom-module id="cbus-podcast-detail-episode">
    <template>
        <div class="podcast-detail_episode_container">
            <div class="podcast-detail_episode_info">
                <h3 class="podcast-detail_episode_title">{{title}}</h3>
                <div class="podcast-detail_episode_description-container no-style">
                    <div class="podcast-detail_episode_date">{{date}}</div>
                    <p class="podcast-detail_episode_description"></p>
                </div>
            </div>
            <div class="podcast-detail_episode_buttons">
                <button class="button podcast-detail_episode_button podcast-detail_episode_button--play material-icons md-36" id="play-button">play_arrow</button>
            </div>
        </div>
    </template>

    <script>
        Polymer({
            is: "cbus-podcast-detail-episode",

            properties: {
                title: {
                    type: String
                },
                description: {
                    type: String
                },
                id: {
                    type: String
                }
            },

            observers: [
                "setDescription(description)"
            ],

            setDescription: function() {
                $(this.querySelector(".podcast-detail_episode_description")).text(this.description.replace(/(<([^>]+)>)/ig, ""));
            },

            listeners: {
                "play-button.tap": "playButtonTap",
            },

            playButtonTap: function(e) {
                cbus.audio.setElement($(".audios audio[data-id='" + this.id + "']")[0]);
                cbus.audio.play();
            }
        });
    </script>
</dom-module>
