<dom-module id="cbus-podcast-detail-episode">
    <template>
        <div class="podcast-detail_episode_container">
            <div class="podcast-detail_episode_info">
                <h3 class="podcast-detail_episode_title">{{title}}</h3>
                <div class="podcast-detail_episode_description-container no-style">
                    <div class="podcast-detail_episode_date">{{date}}</div>
                    <p class="podcast-detail_episode_description">{{description}}</p>
                </div>
            </div>
            <div class="podcast-detail_episode_buttons">
                <button class="button podcast-detail_episode_button podcast-detail_episode_button--play material-icons md-36" id="play-button">play_arrow</button>
                <button class="button podcast-detail_episode_button podcast-detail_episode_button--enqueue material-icons md-36" id="enqueue-button">playlist_add</button>
                <button class="button podcast-detail_episode_button podcast-detail_episode_button--download material-icons md-36" id="download-button">file_download</button>
            </div>
        </div>
    </template>

    <script>
        Polymer({
            is: "cbus-podcast-detail-episode",

            properties: {
                title: {
                    type: String
                },
                description: {
                    type: String
                },
                id: {
                    type: String
                }
            },

            listeners: {
                "play-button.tap": "playButtonTap",
                "enqueue-button.tap": "enqueueButtonTap",
                "download-button.tap": "downloadButtonTap"
            },

            playButtonTap: function(e) {
                cbus.audio.setElement($(".audios [data-id='" + this.id + "']")[0]);
                cbus.audio.play();
            },

            enqueueButtonTap: function(e) {
                cbus.audio.enqueue($(".audios [data-id='" + this.id + "']")[0]);
            },

            downloadButtonTap: function(e) {
                cbus.data.downloadEpisode($(".audios [data-id='" + this.id + "']")[0]);
            }
        });
    </script>
</dom-module>
