doctype html
html
  head
    title CPod
    meta(charset="utf-8")

    link(href="style.css", rel="stylesheet")
      
    // global requires
    script(src="js/global-requires.js")

    // color thief
    script(src="../assets/color-thief/color-thief.min.js")

    // noty
    script(src="../assets/noty/jquery.noty.packaged.min.js")
    script(src="../assets/noty/themes/material.js")
    
    // StackBlur
    script(src="../assets/StackBlur/StackBlur-modified.js")
  body
    header
      nav.header_nav
        a.material-icons.md-36(data-target="stream", data-i18n-map="title:section_heading_home").i18n-attr home
        a.material-icons.md-36(data-target="queue", data-i18n-map="title:section_heading_queue").i18n-attr queue_music
        a.material-icons.md-36(data-target="podcasts", data-i18n-map="title:section_heading_subscriptions").i18n-attr video_library
        a.material-icons.md-36(data-target="explore", data-i18n-map="title:section_heading_explore").i18n-attr explore
        a.material-icons.md-36(data-target="settings", data-i18n-map="title:section_heading_settings").i18n-attr settings
      .header_actions
        button.button.header_action.header_action--refresh-episodes.material-icons(data-scope="stream") refresh

    .content-container
      .progressbar-container
      section.content#stream
        .filters
          select.filter(value="any", name="length")
            option(value="any", data-i18n-name="filters_length_any").i18n
            option(value="60", data-i18n-name="filters_length_60").i18n
            option(value="30", data-i18n-name="filters_length_30").i18n
            option(value="20", data-i18n-name="filters_length_20").i18n
            option(value="15", data-i18n-name="filters_length_15").i18n
            option(value="10", data-i18n-name="filters_length_10").i18n
            option(value="5", data-i18n-name="filters_length_5").i18n
          select.filter(value="any", name="date")
            option(value="any", data-i18n-name="filters_date_any").i18n
            option(value="31", data-i18n-name="filters_date_31").i18n
            option(value="7", data-i18n-name="filters_date_7").i18n
            option(value="1", data-i18n-name="filters_date_1").i18n
          select.filter(value="any", name="offline")
            option(value="any", data-i18n-name="filters_offline_any").i18n
            option(value="true", data-i18n-name="filters_offline_true").i18n
          select.filter(value="any", name="progress")
            option(value="any", data-i18n-name="filters_progress_any").i18n
            option(value="unplayed", data-i18n-name="filters_progress_unplayed").i18n
            option(value="partial", data-i18n-name="filters_progress_partial").i18n
            option(value="finished", data-i18n-name="filters_progress_finished").i18n
        ol.list.list--episodes
      section.content#queue(data-i18n-map="data-text-queueempty:text_queue-empty").i18n-attr
        h2(data-i18n-name="section_heading_queue").i18n
        ol.list.list--queue
      section.content#podcasts
        h2(data-i18n-name="section_heading_subscriptions").i18n
        .podcasts_feeds-container
          .podcasts_feeds.podcasts_feeds--subscribed
      section.content#explore
        h2(data-i18n-name="section_heading_explore").i18n
        .explore_search
          input(type="search", data-i18n-map="placeholder:placeholder_search-podcasts").i18n-attr
        .explore_feeds-container
          .explore_feeds.explore_feeds--search-results(data-i18n-map="data-text:label_search-results").i18n-attr
          .explore_feeds.explore_feeds--popular
      section.content#settings
        .settings_section
          h3(data-i18n-name="label_locale", data-icon="language").i18n
          .settings_label
            .settings_label_left
              select.settings_select--locale(data-setting-key="locale", data-setting-needrestart)
          a(href="https://github.com/z-------------/cumulonimbus/blob/master/CONTRIBUTING.md#translation")
            p.settings_help(data-i18n-name="settings_locale_help").i18n
        .settings_section
          h3(data-i18n-name="label_home", data-icon="home").i18n
          .settings_label
            .settings_label_left
              span(data-i18n-name="label_home-date-separator-interval").i18n
            .settings_label_right
              select(data-setting-key="homeDateSeparatorInterval", data-setting-needrestart)
                option(value="none", data-i18n-name="label_home-date-separator-interval_value_none").i18n
                option(value="day", data-i18n-name="label_home-date-separator-interval_value_day").i18n
                option(value="month", data-i18n-name="label_home-date-separator-interval_value_month").i18n
        .settings_section
          h3(data-i18n-name="label_keyboard-shortcuts", data-icon="keyboard").i18n
          div(data-setting-key="keyboardShortcuts", data-setting-type="mapping", data-setting-needrestart, data-setting-valueoptions="playpause;skip-backward-short;skip-backward;skip-backward-long;skip-forward-short;skip-forward;skip-forward-long;next")
            //- elements added by script
          p.settings_help(data-i18n-name="settings_keyboard-shortcuts_help").i18n
        .settings_section
            h3(data-i18n-name="label_playback", data-icon="play_arrow").i18n
            .settings_label
              .settings_label_left
                span(data-i18n-name="label_skip-amount-backward-short").i18n
              .settings_label_right
                input(type="number", min="1", step="1", data-setting-key="skipAmountBackwardShort", data-setting-type="number")
            .settings_label.indent
              .settings_label_left
                span(data-i18n-name="label_skip-amount-backward").i18n
              .settings_label_right
                input(type="number", min="1", step="1", data-setting-key="skipAmountBackward", data-setting-type="number")
            .settings_label.indent
              .settings_label_left
                span(data-i18n-name="label_skip-amount-backward-long").i18n
              .settings_label_right
                input(type="number", min="1", step="1", data-setting-key="skipAmountBackwardLong", data-setting-type="number")
            .settings_label
              .settings_label_left
                span(data-i18n-name="label_skip-amount-forward-short").i18n
              .settings_label_right
                input(type="number", min="1", step="1", data-setting-key="skipAmountForwardShort", data-setting-type="number")
            .settings_label.indent
              .settings_label_left
                span(data-i18n-name="label_skip-amount-forward").i18n
              .settings_label_right
                input(type="number", min="1", step="1", data-setting-key="skipAmountForward", data-setting-type="number")
            .settings_label.indent
              .settings_label_left
                span(data-i18n-name="label_skip-amount-forward-long").i18n
              .settings_label_right
                input(type="number", min="1", step="1", data-setting-key="skipAmountForwardLong", data-setting-type="number")
            .settings_label
              .settings_label_left
                span(data-i18n-name="label_enable-waveform-visualization").i18n
              .settings_label_right
                input(type="checkbox", data-setting-key="enableWaveformVisualization", data-setting-type="boolean", data-setting-needrestart)
        .settings_section
          h3(data-i18n-name="label_sync", data-icon="sync").i18n
          .settings_label
            .settings_label_left
              span(data-i18n-name="label_sync-enable").i18n
            .settings_label_right
              input(type="checkbox", data-setting-key="syncEnable", data-setting-type="boolean", data-setting-needrestart)
          .settings_label
            .settings_label_left
              span(data-i18n-name="label_sync-username").i18n
            .settings_label_right
              input(type="text", data-setting-key="syncUsername", data-setting-needrestart)
          .settings_label
            .settings_label_left
              span(data-i18n-name="label_sync-password").i18n
            .settings_label_right
              input(type="password", data-setting-key="syncPassword", data-setting-needrestart)
          .settings_label
            .settings_label_left
              span(data-i18n-name="label_sync-deviceid").i18n
            .settings_label_right
              input(type="text", data-setting-key="syncDeviceID", data-setting-needrestart)
          p.settings_help(data-i18n-name="settings_sync_help").i18n
        .settings_section
          h3(data-i18n-name="label_app-updates", data-icon="update").i18n
          .settings_label
            .settings_label_left
              span(data-i18n-name="label_download-prereleases").i18n
            .settings_label_right
              input(type="checkbox", data-setting-key="autoUpdaterAllowPrerelease", data-setting-type="boolean", data-setting-needrestart)
        .settings_section
          .settings_label
            .settings_label_left
              button.material.settings_button--generate-opml(data-i18n-name="settings_button_export-opml").i18n
          .settings_label
            .settings_label_left
              button.material.settings_button--import-opml(data-i18n-name="settings_button_import-opml").i18n
          .settings_label
            .settings_label_left
              button.material.settings_button--update-feed-artworks(data-i18n-name="settings_button_update-cover-art").i18n
          .settings_label
            .settings_label_left
              button.material.settings_button--manage-downloaded-episodes(data-i18n-name="settings_button_view-downloaded-episodes-directory").i18n
        .settings_section.settings_about
          p.
            CPod v#[span.settings_version-string]
          p.
            © 2015-2018 Zachary James Guard #[br]
            #[a(href="http://www.apache.org/licenses/LICENSE-2.0", target="_blank") Apache License, Version 2.0]
          p
            a.settings_buy-me-a-coffee-link(href="https://www.buymeacoffee.com/zackguard")
              img(src="img/buy-me-a-coffee.svg")
          p
            a.settings_licenses-link(target="_blank", data-i18n-name="settings_button_view-licenses").i18n
          p
            a.settings_github-link(href="https://github.com/z-------------/cumulonimbus", data-i18n-name="settings_button_view-github").i18n
          p
            a.settings_issue-reporter-link(href="https://github.com/z-------------/cumulonimbus/issues", data-i18n-name="settings_button_report-issue").i18n
          p
            a.settings_link--dim.settings_button--open-devtools(data-i18n-name="settings_button_open-devtools").i18n

    .podcast-detail-container
      .podcast-detail
        .podcast-detail_header
          .podcast-detail_close-button.material-icons.md-36 close
          .podcast-detail_header_image
          .podcast-detail_header_text
            .podcast-detail_header_title
            .podcast-detail_header_publisher
            .podcast-detail_header_description
          .podcast-detail_controls
            button.podcast-detail_control.podcast-detail_control--toggle-subscribe(data-i18n-map="data-text-subscribe:button_subscribe;data-text-subscribed:button_subscribed;data-text-unsubscribe:button_unsubscribe").i18n-attr
            button.podcast-detail_control.podcast-detail_control--secondary.podcast-detail_control--mark-all-played.podcast-detail_control--hide-if-not-subscribed(data-i18n-name="button_mark-all-finished").i18n
            input(type="text", data-i18n-map="placeholder:placeholder_filter-episodes").i18n-attr.podcast-detail_control.podcast-detail_control--search
        .podcast-detail_episodes

    .player
      .player_main
        .player_top
          .player_buttons
            button.button.player_button.player_button--backward.material-icons.md-36 fast_rewind
            button.button.player_button.player_button--play.material-icons.md-36 play_arrow
            button.button.player_button.player_button--forward.material-icons.md-36 fast_forward
          .player_current
            span.player_time.player_time--now --:--
            input.player_slider(type="range", min="0", max="1000", value="0")
            span.player_time.player_time--total --:--
          .player_right-buttons
            button.button.player_button.player_button--toggles.material-icons.md-36 tune
            button.button.player_button.player_button--openclose.material-icons.md-36 expand_less
        .player_bottom
          .black-bg
          canvas.player_video-canvas
          .player_detail
            .player_detail_header
              .player_detail_image
              .player_detail_header_right
                .player_detail_title
                .player_detail_feed-title
                .player_detail_date
            .player_detail_tabs
              .player_detail_tab.player_detail_tab--description(data-i18n-name="player-tab_description").i18n
              .player_detail_tab.player_detail_tab--chapters(data-i18n-name="player-tab_chapters").i18n
            .player_detail_body
              .player_detail_description
              .player_detail_chapters
        canvas#player_blurred-image
        .player_waveform-container
          canvas#player_waveform
    
    .firstrun-container
      div
        img(src="../../build/icon.svg")
        h1(data-i18n-name="welcome_heading").i18n
      p(data-i18n-name="welcome_blurb").i18n
      div.firstrun_howto
        p.firstrun_howto_explore(data-i18n-name="welcome_howto_explore").i18n
        p.firstrun_howto_home(data-i18n-name="welcome_howto_home").i18n
        p.firstrun_howto_queue(data-i18n-name="welcome_howto_queue").i18n
        p.firstrun_howto_subscriptions(data-i18n-name="welcome_howto_subscriptions").i18n
    
    .player-toggles
      label
        span(data-i18n-name="label_playback-speed").i18n
        input.player-toggles_speed(type="number", min="0.5", max="4", step="0.1", value="1")

    .audios

    script(src="js/all.js")
