@import "../sass-imports/material-shadow";
@import "../sass-imports/material-colors";
@import "../sass-imports/material-icons";

$font-noto-cjk: "Noto Sans CJK SC", "Noto Sans CJK TC", "Noto Sans CJK KR", "Noto Sans CJK JP";
$font-noto: "Noto Sans", $font-noto-cjk;
$font-main: "Roboto", $font-noto, sans-serif;
$font-main-condensed: "Roboto Condensed", $font-noto, sans-serif;

$player-separator-opacity: 0.3;

*, :before, :after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;

    transition-duration: 0.3s;
    transition-property: none;
    transition-timing-function: cubic-bezier(0.62, 0.28, 0.23, 0.99);
}

body {
    box-sizing: border-box;
    font-family: $font-main;
    font-size: 17px;
    color: rgba($black, 0.87);
    background-color: $grey100;

    overflow: hidden;

    transition-property: background;
}

.hidden {
    display: none !important;
}

.no-style * {
    font: inherit;
}

.button {
    cursor: pointer;
    background: none;
    border: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-main-condensed;
    font-weight: 500;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
    font-weight: 300;
    text-transform: uppercase;
}

h3 {
    font-size: 1.3em;
}

input {
    font: inherit;
}

$header-width: 70px;

header {
    background-color: $grey800;
    color: $yellow500;
    position: fixed;
    left: 0;
    top: 0;
    width: $header-width;
    height: 100%;
    z-index: 2;
    padding: 0.5em 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    & > *:not(h1) {
        transition-property: opacity;
    }

    .logo {
        width: $header-width;
        height: $header-width;
        flex-shrink: 0;
        background-color: $yellow500;
    }

    nav {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex-grow: 2;
        height: 100%;

        a {
            cursor: pointer;
            color: rgba($white, 0.8);
            margin: 15px 0;

            transition-property: color, transform;

            &:hover {
                color: $white;
            }

            &.current {
                color: $yellow500;
                // transform: scale(1.2);
            }
        }
    }

    .header_actions {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;

        display: flex;
        justify-content: center;
        align-items: center;

        .header_action {
            color: rgba($white, 0.5);
            display: none;

            &:hover {
                color: $white;
            }

            &.visible {
                display: block;
            }
        }
    }
}

body.podcast-detail-visible {
    header {
        & > *:not(h1) {
            opacity: 0;
            pointer-events: none;
        }
    }
}

.content-container {
    width: calc(500px);
    height: 100%;

    position: absolute;
    left: $header-width;
    top: 0;

    transition-property: opacity;

    .content {
        width: 100%;
        height: 100%;

        position: absolute;
        left: 0;
        top: 0;

        overflow: none;
        opacity: 0;

        pointer-events: none;

        transition-property: transform, opacity;

        &.left {
            transform: translateY(-100%);
        }

        &.right {
            transform: translateY(100%);
        }

        &.current {
            transform: translateY(0);
            pointer-events: auto;
            overflow-y: auto;
            opacity: 1;
        }
    }
}

.queue-empty #queue {
    background-image: url(/app/img/queue_icon-black.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 70px;

    &:after {
        content: "Your queue is empty.";
        position: absolute;
        top: calc(50% + 50px);
        left: 50%;
        transform: translate(-50%);
        color: rgba($black, 0.54);
    }
}

#podcasts {
    $padding-x: 10px;
    padding-left: $padding-x;
    padding-right: $padding-x;

    .podcasts_feeds-container {
        .podcasts_feeds {
            &.podcasts_feeds--search-results {
                $bottomSpacing: 10px;

                display: none;

                padding-bottom: $bottomSpacing / 2;
                border-bottom: solid 1px $grey400;
                margin-bottom: $bottomSpacing / 2;

                &.visible {
                    display: block;
                }

                &:before {
                    content: "Search results";
                    display: block;
                    margin-bottom: 10px;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    color: rgba($black, 0.5);
                }
            }

            .podcasts_feed {
                $size: 150px;

                flex-shrink: 0;
                margin: 5px;
                cursor: pointer;
                display: inline-block;
                overflow: hidden;
                width: $size;
                height: $size;
                background-position: center;
                background-size: cover;
                vertical-align: top;

                transition-property: box-shadow;
            }
        }
    }

    .podcasts_search {
        width: 100%;
        padding: 10px 0;

        input {
            width: 100%;
            font-size: 1.5em;
            padding: 0.5em;
            font-weight: 300;
            border: none;
            border-radius: 4px;
            -webkit-appearance: none;

            transition-property: box-shadow;
        }
    }
}

.podcasts_control {
    &.podcasts_control--subscribe, &.podcasts_control--unsubscribe {
        cursor: pointer;
        margin-left: 5px;
        vertical-align: middle;
    }
}

#settings {
    .settings_label {
        display: block;
        margin: 10px 0;

        display: flex;
        justify-content: space-between;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .settings_section {
        margin: (58px / 2) 0;
        padding: (58px / 3);
        border-radius: 4px;

        background-color: $white;

        h3 {
            &:before {
                content: attr(data-icon);
                font-family: "Material Icons";
                vertical-align: -3px;
                margin-right: 0.5em;
            }
        }
    }
}

.list--episodes, .list--queue {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 0 auto;

    transition-property: width, transform, opacity;
}

.podcast_image {
    width: 100px;
    height: 100px;
}

cbus-episode {
    $height: 71px;

    width: 100%;
    height: $height;

    background-color: $white;
    position: relative;

    transition-property: height;

    .episode_top {
        width: 100%;
        height: $height;
        position: absolute;
        z-index: 1;
        left: 0;
        top: 0;
        background-color: $white;
        border-bottom: solid 1px rgba($black, 0.2);

        display: flex;
        justify-content: space-between;

        padding: 10px 20px;
        padding-left: 10px;

        transition-property: box-shadow;

        &:hover {
            .episode_info-button {
                opacity: 1;
            }
        }
    }

    .episode_bottom {
        width: 100%;
        height: calc(100% - #{$height});
        position: absolute;
        left: 0;
        top: $height;
        background-color: $grey200;

        padding: 10px 70px;
        box-shadow: inset 0 -1px rgba($black, 0.2);

        overflow-x: hidden;
        overflow-y: scroll;

        font-size: 0.9em;

        > * {
            margin: 10px 0;
        }

        .episode_date {
            font-family: $font-main-condensed;
            color: rgba($black, 0.5);
        }

        .episode_description {
            line-height: 1.3;
        }

        a {
            word-wrap: break-word;
            color: $yellow900;
            transition-property: color, background, box-shadow;

            &:hover {
                box-shadow: inset 0 -1px $yellow900;
            }
        }
    }

    .episode_info-button {
        margin: 10px;
        position: absolute;
        left: 0;
        top: 0;
        background-color: rgba($grey800, 0.7);
        cursor: pointer;
        opacity: 0;

        transition-property: opacity;

        &:before {
            content: "expand_more";

            color: $white;
            font-size: 36px;
            position: absolute;
            display: block;
            left: 50%;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);

            transition-property: transform;

            font-family: "Material Icons";
            -webkit-font-smoothing: antialiased;
            text-rendering: optimizeLegibility;
            -moz-osx-font-smoothing: grayscale;
            font-feature-settings: "liga";
            user-select: none;
        }
    }

    .episode_image, .episode_info-button {
        width: 50px;
        height: 50px;
    }

    .episode_image {
        margin-right: 10px;
        align-self: flex-start;
        flex-shrink: 0;

        background-size: cover;
        background-repeat: no-repeat;
    }

    .episode_info {
        height: 100%;
        align-self: flex-start;

        display: flex;

        .episode_text {
            display: flex;
            flex-direction: column;
            justify-content: center;

            > * {
                max-width: 323px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .episode_title {
                font-size: 1.2em;
            }

            .episode_feed-title {
                font-size: 0.9em;
                color: rgba($black, 0.54);
                cursor: pointer;
            }
        }
    }

    .episode_buttons {
        align-self: flex-end;
        flex-shrink: 0;
        margin-left: 10px;
    }

    &.info-open {
        height: 300px;

        .episode_top {
            @include material-shadow(2);
        }

        .episode_info-button:before {
            transform: translateX(-50%) translateY(-50%) rotate(179deg);
        }
    }
}

.player {
    display: flex;
    position: fixed;
    right: 0;
    top: 0;
    background-color: $grey800;
    color: $white;
    width: calc(100% - #{$header-width + 500px});
    height: 50%;
    z-index: 2;

    transition-property: background, color;

    .player_main {
        position: relative;
        width: 100%;

        .player_top {
            display: flex;

            width: 100%;
            height: 71px;

            padding: 0 10px;

            border-bottom: solid 1px rgba($black, $player-separator-opacity);

            .player_buttons {
                display: flex;
                justify-content: center;
                align-items: center;

                .player_button {
                    margin: 0 5px;
                }
            }

            .player_right-buttons {
                border-left: solid 1px rgba($black, $player-separator-opacity);
            }

            .player_current {
                display: flex;
                justify-content: space-around;
                align-items: center;

                padding: 0 10px;
                width: calc(100% - 90px);

                color: $black;

                .player_time {
                    width: 56px;

                    &.player_time--now {
                        text-align: right;
                    }

                    &.player_time--total {
                        text-align: left;
                    }
                }

                .player_slider {
                    width: calc(100% - 100px);
                    margin: 0 10px;

                    -webkit-appearance: none;

                    &::-webkit-slider-runnable-track {
                        -webkit-appearance: none;
                        height: 3px;
                        background-color: rgba($black, 0.3);
                    }

                    &::-webkit-slider-thumb {
                        -webkit-appearance: none;
                        width: 15px;
                        height: 15px;
                        border-radius: 50%;
                        background-color: $black;
                        margin-top: -6px;
                        cursor: grab;
                    }
                }
            }
        }

        .player_bottom {
            position: absolute;
            right: 0;
            top: 71px;
            width: 100%;
            height: calc(100% - 71px);
            padding: 20px;
            overflow: auto;

            transition-property: opacity;

            .player_detail {
                .player_detail_header {
                    margin-bottom: 20px;
                    font-size: 2em;
                    display: flex;
                    align-items: center;

                    padding-bottom: 20px;
                    border-bottom: solid 1px rgba($black, 0.3);

                    .player_detail_image {
                        flex-shrink: 0;
                        width: 150px;
                        height: 150px;
                        margin-right: 20px;
                        background-size: cover;
                        background-position: center;
                        background-repeat: no-repeat;
                    }

                    .player_detail_header_right {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;

                        > * {
                            margin: 5px 0;
                        }

                        .player_detail_title {
                            font-weight: 400;
                            color: $black;
                        }

                        .player_detail_feed-title {
                            font-family: $font-main-condensed;
                            font-size: 0.7em;
                            font-weight: 300;
                            color: rgba($black, 0.8);

                            cursor: pointer;
                        }

                        .player_detail_date {
                            font-family: $font-main-condensed;
                            font-size: 0.5em;
                            color: rgba($black, 0.8);

                            transition-property: color;
                        }
                    }
                }

                .player_detail_body {
                    .player_detail_description {
                        line-height: 1.5;
                        color: rgba($black, 0.8);

                        * {
                            max-width: 100%;
                        }

                        a {
                            color: inherit;
                            box-shadow: 0 1px rgba($black, 0.7);

                            transition-property: color, box-shadow;

                            &:hover {
                                color: $white;
                                box-shadow: 0 2px $black;
                            }
                        }
                    }
                }
            }
        }
    }

    .player_waveform-container canvas {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: -1;
    }

    &.light-colors {
        color: $white;

        .player_detail_header {
            border-bottom-color: rgba($white, 0.3) !important;
        }

        .player_episode_feed-title {
            color: rgba($white, 0.8) !important;
        }

        .player_detail_feed-title {
            color: rgba($white, 0.8) !important;
        }

        .player_detail_date {
            color: rgba($white, 0.8) !important;
        }

        .player_button {
            color: $white;
        }

        .player_detail_title {
            color: $white !important;
        }

        .player_queue-container {
            border-right: solid 1px rgba($white, $player-separator-opacity);
        }

        .player_right-buttons {
            border-left: solid 1px rgba($white, $player-separator-opacity) !important;
        }

        .player_top {
            border-bottom: solid 1px rgba($white, $player-separator-opacity);
        }

        .player_bottom {
            .player_detail {
                .player_detail_body {
                    .player_detail_description {
                        color: rgba($white, 0.8);

                        a {
                            box-shadow: 0 1px rgba($white, 0.7);

                            &:hover {
                                color: $white;
                                box-shadow: 0 2px $white;
                            }
                        }
                    }
                }
            }
        }

        .player_queue_header {
            color: rgba($white, 0.5);
            border-bottom: solid 1px rgba($white, $player-separator-opacity);
        }

        .player_current {
            color: $white !important;

            .player_slider {
                &::-webkit-slider-runnable-track {
                    background-color: rgba($white, 0.3) !important;
                }

                &::-webkit-slider-thumb {
                    background-color: $white !important;
                }
            }
        }
    }
}

.filters {
    position: fixed;
    right: 0;
    bottom: 0;
    background-color: $white;
    color: $black;
    width: calc(100% - #{$header-width + 500px});
    height: 50%;
    z-index: 2;

    padding: 20px;

    .filter {
        margin-bottom: 20px;

        width: 500px;
        max-width: 100%;
        display: flex;
        justify-content: space-between;

        label {
            display: inline-block;
            flex-grow: 1;
            text-align: center;
            cursor: pointer;
            padding: 0.5em 1em;
            background-color: $grey100;
            border-right: 2px solid $white;

            $height: 37px;
            $border-radius: $height / 2;
            height: $height;

            text-transform: lowercase;
            font-size: 0.8em;
            padding-top: 0.7em;

            &:first-child {
                border-top-left-radius: $border-radius;
                border-bottom-left-radius: $border-radius;
            }

            &:last-child {
                border-top-right-radius: $border-radius;
                border-bottom-right-radius: $border-radius;
            }

            &.selected {
                background-color: $yellow500;
                font-weight: 500;
            }

            input[type=radio] {
                display: none;
            }
        }
    }
}

.snackbar_buttons {
    display: flex;

    align-items: center;
    align-content: space-between;

    .snackbar_button {
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 2px;
        background: transparent;
        padding: 0.2em 0.5em;
        border: none;
        color: $yellow500;
        border-radius: 4px;
        cursor: pointer;

        transition-property: background;

        &:hover {
            background-color: rgba($white, 0.1);
        }
    }
}

.podcast-detail-container {
    position: absolute;
    left: 100px;
    top: 0;
    width: 500px;
    height: 100%;
    max-width: 100%;
    z-index: 2;

    overflow-x: hidden;
    overflow-y: auto;
    padding-bottom: 58px;

    background-color: $white;
    transform: translateX(100%);

    transition-property: transform;

    .podcast-detail {
        $padding: 50px;

        .podcast-detail_controls {
            .podcast-detail_control {
                font-family: $font-main-condensed;

                padding: 0.5em 0.7em;
                cursor: pointer;
                border-radius: 4px;
                border: none;
                background: rgba($black, 0.1);

                &.podcast-detail_control--toggle-subscribe {
                    &:before {
                        content: "Subscribe";
                    }

                    &.subscribed {
                        &:before {
                            content: "Subscribed";
                        }

                        &:hover {
                            background-color: $yellow500;
                            color: $white;

                            &:before {
                                content: "Unsubscribe";
                            }
                        }
                    }
                }
            }
        }

        .podcast-detail_header {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            padding: $padding;

            background-color: $white;
            transition-property: background, color;

            .podcast-detail_header_image {
                $size: 200px;
                width: $size;
                height: $size;

                background-size: cover;
            }

            .podcast-detail_header_text {
                display: inherit;
                flex-direction: inherit;
                justify-content: inherit;
                align-items: inherit;
                text-align: center;

                font-family: $font-main-condensed;

                margin: 1.5em 0;
                line-height: 1.5;

                > * {
                    margin: 5px 0;
                }

                .podcast-detail_header_title {
                    font-size: 2em;
                    font-weight: 700;
                }

                .podcast-detail_header_publisher {
                    color: rgba($black, 0.7);
                }
            }

            &.light-colors {
                color: $white;

                .podcast-detail_controls {
                    .podcast-detail_control {
                        background: rgba($white, 0.1);
                        color: $white;
                    }
                }

                .podcast-detail_header_publisher {
                    color: rgba($white, 0.7);
                }
            }
        }

        .podcast-detail_episodes {
            background-color: $grey100;
            padding-top: $padding/4;

            cbus-podcast-detail-episode {
                .podcast-detail_episode_container {
                    display: flex;
                    align-items: center;
                    justify-content: space-between;

                    padding: $padding/4 $padding/2;
                    padding-right: 0;

                    margin: $padding/4;

                    background-color: $white;
                    border-radius: 4px;

                    &:first-child {
                        padding-top: $padding/2;
                        margin-top: 0;
                    }

                    .podcast-detail_episode_info {
                        padding-right: 20px;

                        .podcast-detail_episode_date {
                            color: rgba(0, 0, 0, 0.7);
                        }

                        .podcast-detail_episode_description-container {
                            font-size: 0.85em;

                            > * {
                                margin: 0.5em 0;
                            }
                        }
                    }

                    .podcast-detail_episode_buttons {
                        display: flex;
                        flex-direction: column;

                        border-left: solid 1px $grey300;
                    }
                }
            }
        }
    }
}

body.podcast-detail-visible {
    background-color: $grey300;

    .content-container {
        opacity: 0.5;

        .content {
            pointer-events: none !important;
        }
    }

    .podcast-detail-container {
        transform: translateX(0);
    }
}

button.material {
    border-radius: 4px;
    cursor: pointer;
    padding: 0.5em 0.7em;
    font-size: 0.9em;

    background-color: $grey100;
    border: none;

    transition-property: box-shadow;
}
