@import "../sass-imports/material-shadow";
@import "../sass-imports/material-icons";

$font-noto-cjk: "Noto Sans CJK SC", "Noto Sans CJK TC", "Noto Sans CJK KR", "Noto Sans CJK JP", "Microsoft JhengHei", "Microsoft Yahei", "微软雅黑", STXihei, "华文细黑";
$font-noto: "Noto Sans", "Segoe UI", Frutiger, "Frutiger Linotype", Univers, Calibri, "Gill Sans", "Gill Sans MT", "Myriad Pro", Myriad, "DejaVu Sans Condensed", "Liberation Sans", "Nimbus Sans L", Tahoma, Geneva, "Helvetica Neue", Helvetica, Arial, $font-noto-cjk, sans-serif;

// $font-main: BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", $font-noto; // based on a stack used by Medium and WordPress
// $font-main-condensed: ".SFNSDisplay-Bold", "Segoe UI", "Roboto Condensed", Oxygen-Sans, "Ubuntu Condensed", Cantarell, "Helvetica Neue Condensed", $font-main;
$font-main: "system-ui", $font-noto;
$font-main-condensed: $font-main;
$font-monospace: "Iosevka", "Inconsolata", "Roboto Mono", "Source Code Pro", "Menlo", "Consolas", monospace, $font-noto;

$content-width: 517px;
$header-width: 70px;
$border-radius: 5px;

@keyframes player-bar-buffering {
  0% { background-color: white }
  50% { background-color: transparent }
  100% { background-color: white }
}

@mixin section-bg-message($bgImg, $text) {
  min-height: 100px;
  position: relative;
  $size: 50px;

  background-image: $bgImg;
  background-repeat: no-repeat;
  background-position: 20px ($size * 0.5);
  background-size: $size;

  &:after {
    content: $text;
    position: absolute;
    top: calc(#{$size} - 0.8em);
    left: ($size * 1.7);
    color: var(--color-text-ambient);
    font-weight: 500;
  }
}

@mixin focus-outline {
  $boxShadowColor: var(--color-focus-outline);
  outline: none;
  box-shadow: 0 0 5px 1px $boxShadowColor;
}

*, :before, :after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  text-decoration: none;

  transition-duration: 0.3s;
  transition-property: none;
  transition-timing-function: cubic-bezier(0.62, 0.28, 0.23, 0.99);

  -webkit-tap-highlight-color: transparent;
}

button:focus {
  @include focus-outline;
}

input[type=range]:focus {
  outline: none;

  &::-webkit-slider-thumb {
    @include focus-outline;
  }
}

textarea {
  resize: none;
  background-color: inherit;
}

strong {
  font-weight: 600;
}

select, input, button {
  color: inherit;
}

select, input {
  background-color: var(--color-card-bg-secondary);
  border: solid 1px;
  border-color: var(--color-divider);
}

pre, code {
  font-family: $font-monospace;
}

.tippy-popper, .tippy-popper * {
  transition-property: all;
}

body {
  box-sizing: border-box;
  font-family: $font-main;
  font-size: 17px;
  color: var(--color-text);
  background-color: var(--color-bg);

  overflow: hidden;

  // transition-property: background;
}

.hidden {
  display: none !important;
}

.contents-hidden {
  > * {
  display: none !important;
  }
}

.no-style * {
  font: inherit;
}

.indent {
  padding-left: 2em;
}

.button {
  cursor: pointer;
  background: none;
  border: none;
}

button.material {
  border-radius: 4px;
  cursor: pointer;
  padding: 0.5em 0.7em;
  font-size: 0.9em;

  background-color: var(--color-card-bg-secondary);
  border: none;

  transition-property: box-shadow;
}

button.material-icons {
  border-radius: 50%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $font-main-condensed;
  font-weight: 600;
  letter-spacing: -0.03em;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.6em;
}

section .h2-container {
  display: block;
  width: 100%;
  height: $header-width;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;

  .h2-container_right {
    text-align: right;

    #explore-region-select {
      font-family: $font-monospace;
      $padding-x: 0.5em;
      padding-left: $padding-x;
      padding-right: $padding-x;
    }
  }
}

h3 {
  font-size: 1.3em;
}

a {
  color: var(--color-link);
  cursor: pointer;
}

input {
  font: inherit;

  &[type="checkbox"] {
    $size: 0.9em;
    width: $size;
    height: $size;
  }
}

header {
  background-color: var(--color-header);
  position: fixed;
  left: 0;
  top: 0;
  width: $header-width;
  height: 100%;
  z-index: 2;
  padding: 0.5em 0;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  & > *:not(h1) {
    transition-property: opacity;
  }

  nav {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 2;
    height: 100%;

    a {
      cursor: pointer;
      color: var(--color-header-link);
      opacity: 0.7;
      margin: 15px 0;

      transition-property: color, opacity;

      &:hover {
        opacity: 1;
      }

      &.current {
        color: var(--color-header-link-active);
        opacity: 1;
      }
    }
  }

  .header_actions {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    padding-bottom: 12.5px;

    display: flex;
    justify-content: center;
    align-items: center;

    .header_action {
      color: var(--color-header-link);
      opacity: 0;
      transform: scale(0);

      transition-property: opacity, transform;

      &:hover {
        opacity: 1;
      }

      &.visible {
        opacity: 0.5;
        transform: scale(1);
      }
    }
  }
}

.audios {
  display: none;
}

.content-container {
  width: $content-width;
  height: 100%;

  position: absolute;
  left: $header-width;
  top: 0;

  transition-property: opacity;

  .content {
    width: 100%;
    height: 100%;

    position: absolute;
    left: 0;
    top: 0;

    overflow: none;
    opacity: 0;

    pointer-events: none;

    transition-property: transform, opacity;

    $translateAmount: 75px;

    &.left {
      transform: translateY(-$translateAmount);
    }

    &.right {
      transform: translateY($translateAmount);
    }

    &.current {
      transform: translateY(0);
      pointer-events: auto;
      overflow-y: auto;
      opacity: 1;
    }
  }
}

#stream {
  overflow: hidden;

  .list--episodes {
    margin-top: 71px;
    overflow-x: hidden;
    overflow-y: scroll;
    height: calc(100% - 71px);
  }
}

.queue-empty #queue .list {
  @include section-bg-message(url(./img/queue_icon-black.svg), attr(data-text-queueempty));
}

.load-failed {
  @include section-bg-message(url(./img/signal_wifi_off_icon-black.svg), attr(data-text-loadfailed));
}

#podcasts, #explore {
  $padding-x: 10px;

  .podcasts_feeds-container, .explore_feeds-container {
    .podcasts_feeds, .explore_feeds {
      padding-left: $padding-x;
      padding-right: $padding-x;

      &.explore_feeds--search-results {
        $bottomSpacing: 10px;

        display: none;

        padding-bottom: $bottomSpacing / 2;
        border-bottom: solid 1px;
        border-bottom-color: var(--color-divider);
        margin-bottom: $bottomSpacing / 2;

        &.visible {
          display: block;
        }

        &.search-no-results {
          @include section-bg-message(url(./img/search_icon-black.svg), attr(data-text-noresults));
          min-height: 300px;
        }

        &:before {
          content: attr(data-text);
          display: block;
          margin-bottom: 10px;
          text-transform: uppercase;
          letter-spacing: 2px;
          color: var(--color-text-ambient);
        }
      }

      .podcasts_feed, .explore_feed {
        $size: 150px;

        flex-shrink: 0;
        margin: 5px;
        display: inline-block;
        overflow: hidden;
        width: $size;
        height: $size;
        background-position: center;
        background-size: cover;
        vertical-align: top;

        background-color: var(--color-placeholder-bg);

        transition-property: box-shadow;
      }
    }
  }

  .explore_search {
    width: 100%;
    padding: 10px 5px;
    padding-top: 0;

    input {
      width: 100%;
      font-size: 1em;
      padding: 0.5em 0.7em;
      font-weight: 400;
      border: none;
      border-radius: $border-radius;
      appearance: none;
      transition-property: box-shadow;

      @include material-shadow(1);

      &:focus {
        outline: none;
        @include material-shadow(2);
      }
    }
  }
}

.feed_overlay {
  opacity: 0;
  pointer-events: none;
  width: 100%;
  height: 100%;
  background-color: var(--color-overlay-bg);
  color: var(--color-overlay-text);
  text-align: left;
  user-select: none;
  cursor: default;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;

  transition-property: opacity;

  .title {
    height: 61px;
    overflow: hidden;
    font-weight: 500;
    mask-image: linear-gradient(0deg, transparent, black 10px);
  }

  .podcasts_control {
    padding: 3px;
    box-shadow: inset 0 0 0 1px rgba(#ffffff, 0.3);
    margin-top: 5px;
    border-radius: 4px;
    cursor: pointer;

    transition-property: color, background;

    &:hover {
      color: var(--md-black);
      background-color: var(--color-overlay-text);
    }

    &:before {
      @include material-icons-base;
      font-size: 18px;
      vertical-align: middle;
      margin-right: 5px;
      margin-left: 3px;
    }
  }

  .podcasts_control--subscribe:before {
    content: "add";
  }

  .podcasts_control--unsubscribe {
    &:hover {
      color: var(--color-overlay-text);
      background-color: var(--color-button-bg-unsubscribe);
    }

    &:before {
      content: "delete";
    }
  }

  .podcasts_control--view-details:before {
    content: "info";
  }
}

.podcasts_feed:hover, .explore_feed:hover {
  .feed_overlay {
    opacity: 1;
    pointer-events: auto;
  }
}

#settings {
  .settings_label {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;

    min-height: 1.5em;
    align-items: center;

    &:last-child {
      margin-bottom: 0;
    }

    .settings_label_right {
      text-align: right;

      input, textarea {
        text-align: right;
      }
    }
  }

  .settings_section > .settings_label:first-child {
    margin-top: 0;
  }

  .settings_section {
    margin: (58px / 2) 0;
    padding: (58px / 3);

    background-color: var(--color-card-bg);

    &:nth-child(2) {
      margin-top: 0;
    }

    h3 {
      &:before {
        content: attr(data-icon);
        font-family: "Material Icons";
        font-weight: 400;
        vertical-align: -3px;
        margin-right: 0.5em;
      }
    }
  }

  .settings_help, .settings_smalltext {
    font-size: 0.7em;
    color: var(--color-text-tertiary);
  }

  .settings_help {
    display: block;
  }

  input.settings_smalltext, textarea.settings_smalltext {
    width: 200px;
    border: none;
  }

  p:not(:last-child) {
    margin-bottom: 1em;
  }

  input[type="number"] {
    width: 50px;
  }

  .settings_link--dim {
    opacity: 0.5;
    transition-property: opacity;

    &:hover {
      opacity: 0.7;
    }
  }

  .settings_buy-me-a-coffee-link img {
    border-radius: $border-radius;
  }

  .settings_contributors-list {
    > * {
      display: inline-block;
    }
  }
}

.list--episodes, .list--queue {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  width: 100%;
  margin: 0 auto;

  transition-property: width, transform, opacity;

  .sortable-placeholder {
    height: 71px;
    width: 100%;
    background-color: var(--color-card-bg);
    display: block;
    position: relative;
  }

  .list_date-separator {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    font-size: 0.9em;
  }
}

.list--queue .episode {
  cursor: move;
}

.podcast_image {
  width: 100px;
  height: 100px;
}

.episode {
  $height: 71px;

  width: 100%;
  height: $height;
  position: relative;
  overflow: hidden;

  background-color: var(--color-card-bg);
  cursor: default;

  transition-property: transform;

  &.hidden {
    display: initial !important;
    height: 0;
    overflow: hidden;
  }

  .episode_top {
    width: 100%;
    height: $height;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    background-color: var(--color-card-bg);
    border-bottom: solid 1px;
    border-bottom-color: var(--color-divider);

    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 10px;

    transition-property: box-shadow;

    &:hover {
      .episode_info-button {
        opacity: 1;
      }
    }
  }

  .episode_bottom {
    width: 100%;
    height: calc(100% - #{$height});
    position: absolute;
    left: 0;
    top: $height;
    background-color: var(--color-card-bg-secondary);

    padding: 10px;
    padding-left: 70px;
    box-shadow: inset 0 -1px var(--color-shadow);

    overflow-x: hidden;
    overflow-y: scroll;

    font-size: 0.9em;

    > * {
      margin: 10px 0;
    }

    .episode_date {
      font-family: $font-main-condensed;
      color: var(--color-text-tertiary);
    }

    .episode_description {
      line-height: 1.3;
    }

    .episode_url {
      font-size: 0.8em;
    }

    a {
      word-wrap: break-word;
      color: var(--color-link-alt);
      transition-property: color, background, box-shadow;

      &:hover {
        // box-shadow: inset 0 -1px $yellow900;
        text-decoration: underline;
      }
    }
  }

  &:hover {
    transition-property: height;
  }

  .episode_info-button {
    margin: 10px;
    position: absolute;
    left: 0;
    top: 0;
    background-color: var(--color-overlay-bg-light);
    cursor: pointer;
    opacity: 0;

    transition-property: opacity;

    &:before {
      content: "expand_more";

      color: var(--color-overlay-text);
      font-size: 36px;
      position: absolute;
      display: block;
      left: 50%;
      top: 50%;
      transform: translateX(-50%) translateY(-50%);

      transition-property: transform;

      font-family: "Material Icons";
      -webkit-font-smoothing: antialiased;
      text-rendering: optimizeLegibility;
      -moz-osx-font-smoothing: grayscale;
      font-feature-settings: "liga";
      user-select: none;
    }
  }

  .episode_image, .episode_info-button {
    width: 50px;
    height: 50px;
  }

  .episode_image {
    margin-right: 10px;
    align-self: flex-start;
    flex-shrink: 0;

    background-size: cover;
    background-repeat: no-repeat;
  }

  .episode_info {
    height: 100%;
    align-self: flex-start;
    overflow: hidden;
    display: flex;

    .episode_text {
      display: flex;
      flex-direction: column;
      justify-content: center;
      overflow: hidden;

      > * {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }

      .episode_title {
        font-size: 1.2em;
      }

      .episode_meta-container {
        font-size: 0.9em;
        color: var(--color-text-tertiary);
      }

      .episode_feed-title {
        cursor: pointer;
      }
    }
  }

  .episode_buttons {
    flex-shrink: 0;
    display: flex;
    align-items: center;

    button {
      margin-left: 5px;
    }
  }

  &.info-open {
    height: 300px;

    .episode_top {
      @include material-shadow(2);
    }

    .episode_info-button:before {
      transform: translateX(-50%) translateY(-50%) rotate(179deg);
    }
  }
}

.player {
  display: flex;
  position: fixed;
  right: 0;
  top: 0;
  background-color: var(--color-card-bg);
  color: var(--color-player-text);
  width: calc(100% - #{$header-width + $content-width});
  height: 100%;
  z-index: 3;

  background-position: center;
  background-size: cover;

  transition-property: background, color;

  .player_main {
    position: relative;
    width: 100%;

    .player_top {
      display: flex;

      width: 100%;
      height: 71px;

      padding: 0 10px;

      border-bottom: solid 1px;
      border-bottom-color: var(--color-player-divider);

      .player_buttons, .player_right-buttons {
        display: flex;
        justify-content: center;
        align-items: center;

        .player_button {
          margin: 0 5px;
          color: var(--color-player-text);
        }

        .player_button--openclose {
          display: none;
        }
      }

      .player_current {
        display: flex;
        justify-content: space-around;
        align-items: center;

        padding: 0 10px;
        width: calc(100% - 90px);

        color: var(--color-player-text);

        .player_time {
          width: 56px;

          &.player_time--now {
            text-align: right;
          }

          &.player_time--total {
            text-align: left;
            cursor: pointer;
          }
        }

        .player_slider {
          width: calc(100% - 100px);
          margin: 0 10px;
          background: transparent;

          -webkit-appearance: none;

          &::-webkit-slider-runnable-track {
            -webkit-appearance: none;
            height: 3px;
            background-color: var(--color-player-slider-track);
            cursor: pointer;
          }

          &::-webkit-slider-thumb {
            -webkit-appearance: none;
            width: 15px;
            height: 15px;
            border-radius: 50%;
            background-color: var(--color-player-text);
            margin-top: -6px;
            cursor: pointer;
          }

          &.buffering {
            animation: player-bar-buffering 1s infinite linear;
          }
        }
      }
    }

    .player_bottom {
      position: absolute;
      right: 0;
      top: 71px;
      width: 100%;
      height: calc(100% - 71px);
      padding: 20px;
      overflow-x: hidden;
      overflow-y: auto;

      transition-property: opacity;

      .player_detail {
        &.no-chapters {
          .player_detail_header {
            border-bottom: solid 1px;
            border-bottom-color: var(--color-player-divider);
          }

          .player_detail_tabs {
            display: none;
          }
        }

        .player_detail_header {
          margin-bottom: 20px;
          font-size: 2em;
          display: flex;
          // align-items: center;

          padding-bottom: 20px;
          // border-bottom: solid 1px rgba($black, 0.3);

          .player_detail_image {
            $size: 150px;

            flex-shrink: 0;
            width: $size;
            height: $size;
            border-radius: $border-radius;
            margin-right: 20px;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
          }

          .player_detail_header_right {
            // display: flex;
            // flex-direction: column;
            // justify-content: flex-start;
            overflow-x: hidden;

            > * {
              margin: 5px 0;
            }

            .player_detail_title {
              color: var(--color-player-text);
              font-size: 1.2em;
              line-height: 1;
              font-weight: 700;
              word-wrap: break-word;
            }

            .player_detail_feed-title {
              font-family: $font-main-condensed;
              font-size: 0.7em;
              font-weight: 500;
              color: var(--color-player-text-secondary);

              cursor: pointer;
            }

            .player_detail_date {
              font-family: $font-main-condensed;
              font-size: 0.5em;
              color: var(--color-player-text-secondary);

              transition-property: color;
            }
          }
        }

        .player_detail_tabs {
          margin-left: -20px;
          margin-top: -20px;
          width: calc(100% + 40px);
          margin-bottom: 20px;

          border-top: solid 1px;
          border-bottom: solid 1px;
          border-color: var(--color-player-divider);

          .player_detail_tab {
            display: inline-block;
            width: 50%;
            text-align: center;
            text-transform: uppercase;
            color: var(--color-player-text-secondary);
            padding: 0.5em 0;
            cursor: pointer;

            transition-property: color, background;

            &:hover {
              color: var(--color-player-text);
            }

            &.active {
              background-color: var(--color-player-bg-active);
              color: var(--color-player-text);
            }
          }
        }

        .player_detail_body {
          position: relative;

          .player_detail_description, .player_detail_chapters {
            line-height: 1.5;
            color: var(--color-player-text-secondary);
            position: absolute;
            padding-bottom: 20px;

            transition-property: opacity;

            &.not-visible {
              pointer-events: none;
              opacity: 0;
            }

            * {
              max-width: 100%;
            }

            ul, ol {
              padding-left: 1em;
            }

            p {
              margin-bottom: 1em;
            }

            a, .player_detail_description_timelink {
              color: inherit;
              text-decoration: underline;
              cursor: pointer;

              transition-property: color, box-shadow;

              &:hover {
                color: var(--color-player-text);
              }
            }
          }

          .player_detail_chapters {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;

            .player_detail_chapter {
              display: flex;
              justify-content: space-between;
              width: 400px;
              padding: 0.5em 0.7em;
              cursor: pointer;

              transition-property: background;

              &:hover {
                background-color: var(--color-player-bg-active);
              }

              > * {
                pointer-events: none;
              }

              .player_detail_chapter_title {
                font-weight: 500;
              }
            }
          }
        }
      }
    }
  }

  .player_waveform-container canvas {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: -1;
  }

  #player_blurred-image {
    // position: absolute;
    // left: 0;
    // top: 0;
    // width: 100%;
    // height: 100%;
    // z-index: -2;
    display: none;
  }

  .player_video-canvas {
    display: none;
    margin-top: -20px;
    margin-left: -20px;
    margin-bottom: 20px;
    background-color: rgba(0, 0, 0, 0.8);
  }

  &.video-mode {
    .player_video-canvas {
      display: block;
    }

    .player_main .player_bottom .player_detail .player_detail_header {
      .player_detail_header_right .player_detail_title {
        font-size: 1em;
      }

      .player_detail_image {
        width: 100px;
        height: 100px;
      }
    }
  }
}

.player-toggles {
  input {
    margin-left: 0.5em;
    background-color: rgba(127, 127, 127, 0.5);
    border: none;
    color: var(--color-player-text);
    padding: 0 0.3em;
    width: 3.5em;
  }
  p {
    text-align: right;
    margin-bottom: 0.5em;
  }
  .player-toggles_volume_slider {
    width: calc(100% - 100px);
    background: transparent;

    -webkit-appearance: none;
    
    &::-webkit-slider-runnable-track {
      -webkit-appearance: none;
      height: 3px;
      background-color: var(--color-player-slider-track);
      cursor: pointer;
    }

    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      width: 15px;
      height: 15px;
      border-radius: 50%;
      background-color: var(--color-player-text);
      margin-top: -6px;
      cursor: pointer;
    }
  }
}

.black-bg {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--md-black);
  z-index: 999998;
}

.video-fullscreen {
  .player_video-canvas {
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    margin-left: 0;
    margin-top: 0;
    z-index: 999999;
  }

  .black-bg {
    display: block;
  }
}

.filters {
  position: absolute;
  right: 0;
  top: 0;
  background-color: var(--color-card-bg);
  color: var(--color-text-strong);
  width: 100%;
  height: 71px;
  z-index: 2;
  @include material-shadow(2);

  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: column;
  padding: 0 0.5em;

  .filter {
    border: none;
    cursor: pointer;
    background: inherit;
    box-shadow: 0 1px rgba(127, 127, 127, 0.3);
    border-radius: 0;
    width: 50%;
    padding: 0.3em 0;
    padding-right: 1.5em;
    min-height: 26px;
    font-size: 0.8em;
    appearance: none;

    background-image: url("img/arrow_drop_down.svg");
    background-position: right;
    background-size: 23px;
    background-repeat: no-repeat;

    // &:hover {
    //   box-shadow: 0 1px rgba(0, 0, 0, 0.3);
    // }
    //
    // &:focus {
    //   outline: none;
    //   box-shadow: 0 2px rgba(0, 0, 0, 0.3);
    // }
  }
}

.snackbar_buttons {
  display: flex;

  align-items: center;
  align-content: space-between;

  .snackbar_button {
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 2px;
    background: transparent;
    padding: 0.2em 0.5em;
    border: none;
    color: var(--md-yellow500);
    border-radius: $border-radius;
    cursor: pointer;

    transition-property: background;

    // &:hover {
    //   background-color: rgba($white, 0.1);
    // }
  }
}

.podcast-detail-container {
  $podcast-detail-width: $content-width + $header-width;

  position: absolute;
  top: 0;
  width: $podcast-detail-width;
  height: 100%;
  max-width: 100%;
  z-index: 2;

  overflow-x: hidden;
  overflow-y: auto;
  padding-bottom: 58px;

  background-color: var(--color-bg);
  transform: translateY(100%);

  transition-property: transform;

  .podcast-detail {
    $padding: 50px;

    .podcast-detail_header {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      position: relative;
      align-items: left;
      padding: $padding*3/4;
      padding-bottom: $padding/4;

      color: var(--md-black);
      background-color: var(--color-card-bg);

      transition-property: background, color;

      &.light-colors {
        color: var(--md-white);

        .podcast-detail_controls {
          .podcast-detail_control {
            background: rgba(#ffffff, 0.1);
            color: var(--md-white);
          }
        }

        .podcast-detail_header_text .podcast-detail_header_publisher {
          color: rgba(#ffffff, 0.7);
        }
      }

      &:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000000;
        opacity: var(--background-darken);
      }

      > * {
        z-index: 1;
      }

      .podcast-detail_header_image {
        $size: 200px;
        width: $size;
        height: $size;

        background-size: cover;

        border-radius: $border-radius;
        @include material-shadow(1);
      }

      .podcast-detail_header_text {
        display: inherit;
        flex-direction: inherit;
        justify-content: inherit;
        align-items: inherit;

        font-family: $font-main;

        margin: 1.5em 0;
        margin-top: 1em;
        line-height: 1.5;

        > * {
          margin: 5px 0;
        }

        .podcast-detail_header_title {
          font-size: 2em;
          font-weight: 700;
          font-family: $font-main-condensed;
          line-height: 1;
        }

        .podcast-detail_header_publisher {
          color: rgba(#000000, 0.7);
          font-family: $font-main-condensed;
        }

        .podcast-detail_header_description {
          text-align: left;
        }
      }
    }

    .podcast-detail_controls {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: left;
      width: 100%;

      .podcast-detail_control {
        font-family: $font-main-condensed;

        padding: 0.5em 0.7em;
        margin: $padding/8 0;
        height: 40px;
        cursor: pointer;
        border-radius: 4px;
        border: none;
        background: rgba(#000000, 0.1);

        &:first-child {
          margin-top: 0;
        }

        &:last-child {
          margin-bottom: 0;
        }

        &.podcast-detail_control--secondary {
          appearance: none;
          cursor: pointer;
          font-size: 0.7em;
          color: inherit;
          margin: 0;
          margin-left: $padding/4;
          padding: $padding/4;

          opacity: 0.8;
          transition-property: opacity;

          &:hover {
            opacity: 1;
          }
        }

        &.podcast-detail_control--toggle-subscribe {
          min-width: 120px;

          &:not(.subscribed) {
            &:before {
              content: attr(data-text-subscribe);
            }

            &:hover {
              background-color: var(--color-link-strong);
              color: var(--color-text-stong);
            }
          }

          &.subscribed {
            &:before {
              content: attr(data-text-subscribed);
            }

            &:hover {
              background-color: var(--color-button-bg-unsubscribe);
              color: var(--md-white);

              &:before {
                content: attr(data-text-unsubscribe);
              }
            }
          }
        }

        &.podcast-detail_control--search {
          display: block;
          width: calc(100% + 75px);
          cursor: text;
          background-color: rgba(#ffffff, 0.5) !important;
          color: var(--md-black) !important;

          transition-property: background;

          &:focus {
            background-color: var(--md-white) !important;
          }

          &::-webkit-input-placeholder {
            color: rgba(#000000, 0.5);
          }
        }
      }
    }

    .podcast-detail_close-button {
      position: fixed;
      right: 0;
      top: 0;
      margin: 20px;
      cursor: pointer;
    }

    .podcast-detail_episodes {
      background-color: var(--color-bg);
      padding-top: $padding/4;

      .podcast-detail_episode {
        .podcast-detail_episode_container {
          padding: $padding/4 $padding/2;
          padding-right: $padding/4;

          margin: $padding/4;

          background-color: var(--color-card-bg);
          border-radius: 4px;

          &:first-child {
            padding-top: $padding/2;
            margin-top: 0;
          }

          .podcast-detail_episode_info {
            padding-right: 20px;

            .podcast-detail_episode_title {
              line-height: 1;
            }

            .podcast-detail_episode_date {
              color: var(--color-text-tertiary);
            }

            .podcast-detail_episode_description-container {
              font-size: 0.85em;
              line-height: 1.5;

              > * {
                margin: 0.5em 0;
              }
            }
          }

          .podcast-detail_episode_buttons {
            margin-left: -11.4px; // related to the padding in the play icon

            button {
              margin-right: $padding/8;
            }
          }
        }
      }
    }
  }
}

body.podcast-detail-visible {
  // background-color: var(--color-card-bg-tertiary);

  .content-container {
    .content {
      pointer-events: none !important;
    }
  }

  .podcast-detail-container {
    transform: translateX(0);
  }
}

.firstrun-container {
  display: none;
  position: fixed;
  z-index: 999999;
  right: 0;
  width: calc(100% - #{$header-width + $content-width});
  height: 100%;
  overflow-y: auto;
  padding: 50px;
  background-color: var(--color-card-bg);
  color: var(--color-text);
  text-align: center;
  user-select: none;
  cursor: default;

  flex-direction: column;
  justify-content: space-around;
  align-items: center;

  &.visible {
    display: flex;
  }

  img {
    width: 128px;
    height: 128px;
    margin: 1em 0;
  }

  h1 {
    font-weight: 300;
  }

  p {
    margin: 1em 0;
  }

  .firstrun_howto {
    strong:before {
      @include material-icons-base;
      vertical-align: bottom;
      margin-right: 0.1em;
    }

    .firstrun_howto_explore strong:before {
      content: "explore";
    }

    .firstrun_howto_home strong:before {
      content: "home";
    }

    .firstrun_howto_queue strong:before {
      content: "queue_music";
    }

    .firstrun_howto_subscriptions strong:before {
      content: "video_library";
    }
  }
}

.progressbar-container {
  position: fixed;
  z-index: 3;
  width: $content-width;
  left: $header-width;
  bottom: 0;

  transition-property: width, left;

  .progressbar {
    $padding: 12px;
    padding: $padding;
    padding-top: $padding * 2/3;
    background-color: var(--color-card-bg);
    @include material-shadow(-2);

    transition-property: transform;
    transform: translateY(100%);
    &.shown {
      transform: translateY(0);
    }

    &:not(:first-child) {
      box-shadow: inset 0 1px var(--md-grey200);
    }

    .progressbar_bar-container {
      width: 100%;
      height: $padding;
      background-color: var(--color-card-bg-tertiary);
      border-radius: $padding / 2;
      overflow: hidden;
      margin-right: $padding * 2/3;

      .progressbar_bar {
        width: 0;
        height: 100%;
        background-color: var(--md-blueA200);

        transition-timing-function: linear;
        transition-property: width, background;
        transition-duration: 500ms;
      }
    }

    &.complete {
      .progressbar_bar {
        transition-duration: 300ms;
        background-color: var(--md-greenA700);
      }
    }

    .progressbar_lower {
      display: flex;
      align-items: center;
      padding-top: $padding * 2/3;
      height: #{$padding * (1 + 2/3)};
    }

    .progressbar_actions {
      display: flex;
      align-items: center;

      button {
        color: var(--color-text-secondary);
      }
    }

    // &.has-actions {
    //   .progressbar_lower {
    //     padding-top: 0;
    //   }
    // }
  }
}

.podcast-detail-visible .progressbar-container {
  width: $content-width + $header-width;
  left: 0;
}

@media only screen and (max-width: 1037px) {
  $content-width: 400px;
  $header-width: 50px;

  .content-container {
    width: $content-width;
    left: $header-width;
  }

  .player {
    width: calc(100% - #{$header-width + $content-width});
  }

  .podcast-detail-container {
    width: $content-width + $header-width;
  }

  .firstrun-container {
    width: calc(100% - #{$header-width + $content-width});
  }

  .progressbar-container {
    width: $content-width;
  }

  header {
    width: $header-width;

    .material-icons.md-36 {
      font-size: 24px;
    }

    .logo {
      width: $header-width;
      height: $header-width;
    }
  }

  .podcasts_feed, .explore_feed {
    $size: 111px;
    width: $size !important;
    height: $size !important;
  }

  .episode {
    .episode_info .episode_text .episode_title {
      font-size: 1em;
    }

    .episode_buttons {
      width: #{24 + 5}px;

      button {
        &:not(.episode_button--play) {
          transform: translateX(100px);
          opacity: 0;
        }

        &.episode_button--play {
          transform: translateX(#{- (24 + 5) * 3}px);
        }
      }
    }

    .episode_bottom {
      padding: 0 10px;
    }

    &:hover {
      .episode_buttons {
        width: #{(24 + 5) * 4}px;

        button {
          transform: translateX(0);
          opacity: 1;

          &:not(.episode_button--play) {
            transition-property: transform, opacity;
          }
        }
      }
    }
  }

  .player .player_main .player_bottom .player_detail .player_detail_header .player_detail_image {
    $size: 120px;
    width: 120px;
    height: 120px;
  }

  .player .player_main .player_bottom .player_detail .player_detail_header .player_detail_header_right .player_detail_title, .player.video-mode .player_main .player_bottom .player_detail .player_detail_header .player_detail_header_right .player_detail_title {
    font-size: 0.7em;
  }

  .player .player_main .player_bottom .player_detail .player_detail_header .player_detail_header_right .player_detail_feed-title {
    font-size: 0.5em;
  }

  .player .player_main .player_bottom .player_detail .player_detail_header .player_detail_header_right .player_detail_date {
    font-size: 0.35em;
  }
}

@media only screen and (max-width: 800px) {
  $small-player-height: 71px;

  .content-container {
    width: 100%;
    left: 0;
    top: 50px;
    height: calc(100% - 50px - #{$small-player-height});
  }

  .player, .player.video-mode {
    width: 100%;
    top: calc(100% - #{$small-player-height});

    transition-property: top;

    .material-icons.md-36 {
      font-size: 24px;
    }

    .player_button--openclose {
      display: inline-block !important;
    }

    .player_current, .player_right-buttons button:not(.player_button--openclose) {
      pointer-events: none;
      opacity: 0;
      width: 0;
      // transition-property: opacity;
    }

    .player_main {
      .player_top {
        justify-content: flex-end;

        .player_current {
          width: 0;
          padding: 0;
        }
      }
    }

    .player_bottom {
      overflow: visible !important;
    }

    .player_detail_header {
      position: absolute;
      top: #{- $small-player-height};
      left: 0;
      margin-left: 10px;
      margin-top: 10px;
    }

    .player_main {
      .player_bottom .player_detail .player_detail_header .player_detail_image {
        $size: 50px;
        width: $size;
        height: $size;
        margin-right: 10px;
      }

      .player_bottom .player_detail .player_detail_header .player_detail_header_right {
        .player_detail_title, .player_detail_feed-title {
          font-size: 0.5em;
          max-width: calc(100vw - 220px);
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .player_detail_date {
          display: none;
        }
      }
    }
  }

  .player-expanded .player, .player-expanded .player.video-mode {
    top: 0;

    .player_button--openclose {
      transform: rotate(0.5turn);
    }

    .player_current, .player_right-buttons button {
      opacity: 1;
      width: 1em;
      pointer-events: auto;
    }

    .player_main .player_top .player_current {
      width: calc(100% - 90px);
      padding: 0 10px;
    }

    .player_top {
      justify-content: initial;
    }

    .player_bottom {
      overflow-x: hidden !important;
      overflow-y: auto !important;
    }

    .player_bottom .player_detail .player_detail_header .player_detail_header_right {
      .player_detail_title {
        font-size: 0.7em;
        max-width: none;
        white-space: initial;
        overflow: initial;
        text-overflow: initial;
      }

      .player_detail_date {
        display: block;
      }
    }

    .player_detail_header {
      position: initial;
      margin-left: 0;
      margin-top: 0;
    }

    .player_main .player_bottom .player_detail .player_detail_header .player_detail_image {
      $size: 120px;
      width: $size;
      height: $size;
      margin-right: 20px;
    }

    .player_main .player_bottom .player_detail .player_detail_header .player_detail_header_right .player_detail_title {
      font-size: 0.7em;
    }
  }

  .progressbar-container {
    bottom: $small-player-height;
    width: 100%;
  }

  .podcast-detail-container {
    width: 100%;
  }

  .firstrun-container {
    // width: 100%;
    // height: calc(100% - 50px);
    // top: 50px;
    &.visible {
      display: none;
    }
  }

  header {
    width: 100%;
    height: 50px;

    .header_actions {
      left: auto;
      width: auto;
      height: 100%;
      right: 0;
      padding-bottom: 0;
    }

    nav {
      flex-direction: row;
      justify-content: space-around;
      margin-top: 0;

      a {
        $margin-x: 7.5px;
        margin-left: $margin-x;
        margin-right: $margin-x;
      }
    }
  }

  .content-container {
    .content.left {
      transform: translateX(-100%);
    }

    .content.current {
      transform: translateX(0);
    }

    .content.right {
      transform: translateX(100%);
    }
  }
}
