@import "../sass-imports/material-shadow";
@import "../sass-imports/material-colors";
@import "../sass-imports/material-icons";

$font-roboto-condensed: "Roboto Condensed", "Noto Sans", sans-serif;
$font-roboto: "Roboto", "Noto Sans", sans-serif;

$player-separator-opacity: 0.3;

*, :before, :after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;

    transition-duration: 0.3s;
    transition-property: none;
}

body {
    box-sizing: border-box;
    font-family: $font-roboto;
    font-size: 17px;
    color: $grey900;
    background-color: $grey100;

    overflow: hidden;

    transition-property: background;
}

.hidden {
    display: none !important;
}

.no-style * {
    font: inherit;
}

.button {
    box-sizing: content-box;
    background: none;
    border: none;
    padding: 0.3em;
    margin: 0 0.1em;
    border-radius: 50%;
    cursor: pointer;
    width: 1em;
    height: 1em;

    transition-property: color, background, box-shadow;
}

h1, h2, h3, h4, h5, h6 {
    font-family: $font-roboto-condensed;
}

h1 {
    font-size: 2em;
}

h2 {
    font-size: 1.5em;
    font-weight: 300;
    text-transform: uppercase;
}

h3 {
    font-size: 1.3em;
}

input {
    font: inherit;
}

header {
    background-color: $red500;
    color: $white;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 58px;
    z-index: 2;
    padding: 0.5em 0;

    display: flex;
    justify-content: space-between;

    @include material-shadow(2);

    & > *:not(h1) {
        transition-property: opacity;
    }

    h1 {
        margin-left: 0.5em;
    }

    nav {
        margin-left: 58px;
        display: flex;
        align-items: center;
        flex-grow: 2;
        height: 100%;

        a {
            cursor: pointer;
            padding: 1.3em 0.8em;
            display: inline-block;
            text-transform: uppercase;
            color: rgba($white, 0.8);
            letter-spacing: 2px;
            font-size: 0.9em;
            box-shadow: inset 0 -2px transparent;

            transition-property: color, box-shadow;

            &:hover, &.current {
                color: $white;
            }

            &.current {
                box-shadow: inset 0 -2px $yellow500;
            }
        }
    }

    .header_actions {
        margin-right: 0.5em;

        .header_action {
            color: $white;
        }
    }
}

body.podcast-detail-visible {
    header {
        & > *:not(h1) {
            opacity: 0;
            pointer-events: none;
        }
    }
}

.content-container {
    width: 100%;
    height: calc(100% - 58px);

    position: absolute;
    left: 0;
    top: 58px;

    transition-property: opacity;

    .content {
        width: 100%;
        height: 100%;

        position: absolute;
        left: 0;
        top: 0;

        padding: 10px;
        padding-bottom: 58px;

        overflow-x: none;
        overflow-y: auto;

        opacity: 0;
        transform: scale(0.8);
        pointer-events: none;

        transition-property: opacity, transform;

        &.visible {
            opacity: 1;
            transform: scale(1);
            pointer-events: auto;
        }
    }
}

#filters {
    $padding-x: 58px;
    padding-left: $padding-x;
    padding-right: $padding-x;

    .filters_feeds-container {
        .filters_feeds {
            &.filters_feeds--search-results {
                $bottomSpacing: 58px / 1.6;

                display: none;

                padding-bottom: $bottomSpacing / 2;
                border-bottom: solid 1px $grey400;
                margin-bottom: $bottomSpacing / 2;

                &.visible {
                    display: block;
                }

                &:before {
                    content: "Search results";
                    display: block;
                    margin-bottom: 10px;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    color: rgba($black, 0.5);
                }
            }

            .filters_feed {
                $size: 150px;

                flex-shrink: 0;
                margin: 5px;
                cursor: pointer;
                display: inline-block;
                overflow: hidden;
                width: $size;
                height: $size;
                background-position: center;
                background-size: cover;
                @include material-shadow(1);

                transition-property: box-shadow;

                &:hover {
                    @include material-shadow(2);
                }
            }
        }
    }

    .filters_search {
        width: 100%;
        padding: 20px 0;

        input {
            width: 100%;
            font-size: 1.5em;
            padding: 0.5em;
            font-weight: 300;
            border: none;
            border-radius: 4px;
            @include material-shadow(1);
            -webkit-appearance: none;

            transition-property: box-shadow;

            &:focus {
                @include material-shadow(2);
            }
        }
    }
}

.filters_control {
    &.filters_control--subscribe, &.filters_control--unsubscribe {
        cursor: pointer;
        margin-left: 5px;
        vertical-align: middle;
    }
}

.list--episodes {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    margin: 0 auto;

    transition-property: width, transform, opacity;
}

body.filters-visible {
    overflow-y: hidden;

    .list--episodes {
        transform: translateY(94px);
        pointer-events: none;
        cursor: default;
        opacity: 0.5;
    }
}

.podcast_image {
    width: 100px;
    height: 100px;
}

cbus-episode {
    display: inline-block;
    flex-shrink: 0;
    position: relative;
    width: 250px;
    height: 250px;
    overflow: hidden;
    color: $white;
    margin: 10px;

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .episode_background {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-size: cover;
    }

    .episode_innards-container {
        z-index: 1;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(rgba($black, 0.5), transparent);
        padding: 20px;

        transition-property: background;
    }

    .episode_audio_player {
        display: none;
    }

    .episode_buttons {
        position: absolute;
        right: 0;
        bottom: 0;
        padding: 20px;
        z-index: 1;

        .episode_button--play {
            color: $white;
            background-color: $red500;

            @include material-shadow(2);
            transition-property: box-shadow;

            &:hover {
                @include material-shadow(3);
            }
        }

        .episode_button--enqueue, .episode_button--show-description {
            opacity: 0;
            color: $white;
            text-shadow: 0 0 20px rgba($black, .5);
            transition-property: box-shadow, opacity;
        }
    }

    &:hover {
        .episode_button--enqueue, .episode_button--show-description {
            opacity: 1;
        }
    }

    .episode_description-container {
        margin: 10px 0;

        font-size: 0.85em;

        opacity: 0;
        pointer-events: none;

        transition-property: opacity;
    }

    .episode_title {
        transform-origin: left top;

        transition-property: transform;
    }

    .episode_feed-title {
        margin-top: 0.3em;
        font-weight: 400;
        cursor: pointer;

        transition-property: font, color, margin;
    }

    &.description-visible {
        .episode_innards-container {
            background-color: rgba($black, 0.5);

            overflow-y: auto;
            padding-bottom: 70px;
        }

        .episode_title {
            transform: scale(0.77); // font-size: 22.1px -> 17px
        }

        .episode_feed-title {
            font-size: 0.85em;
            color: rgba($white, 0.7);

            margin-top: -5px;
        }

        .episode_description-container {
            opacity: 1;
            pointer-events: auto;
        }
    }
}

.player {
    display: flex;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: $cyan300;
    color: $black;
    height: 58px;
    z-index: 2;

    transform: translateY(100%);

    transition-property: height, background, color, transform;

    &.visible {
        transform: translateY(0);
        @include material-shadow(-2);
    }

    .player_button {
        margin: 0;
    }

    .player_queue-container {
        position: relative;
        display: flex;
        width: 300px;
        border-right: solid 1px rgba($black, $player-separator-opacity);

        .player_queue_header {
            position: absolute;
            left: 0;
            top: 0;
            display: none;
            text-transform: uppercase;
            letter-spacing: 2px;
            color: rgba($black, 0.5);
            width: 100%;
            border-bottom: solid 1px rgba($black, $player-separator-opacity);
        }

        .player_queue {
            width: 300px - 58px;
            overflow-y: none;

            cbus-queue-item {
                display: block;
                width: 100%;
                height: 58px;
                margin-bottom: 3px;

                transition-property: box-shadow, height;

                &:not(:first-of-type) {
                    &:hover {
                        cursor: pointer;
                        @include material-shadow(2);
                    }
                }
            }

            .player_episode {
                display: flex;

                .player_episode_image {
                    flex-shrink: 0;
                    width: 58px;
                    height: 58px;
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-color: $grey300;
                }

                .player_episode_info {
                    padding: 0.5em;
                    font-family: $font-roboto-condensed;
                    overflow: hidden;
                }

                .player_episode_feed-title {
                    color: rgba($black, 0.7);

                    transition-property: color;
                }

                .player_episode_title, .player_episode_feed-title {
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                }
            }
        }
    }

    .player_top {
        display: flex;

        width: calc(100% - 300px);
        height: 58px;

        .player_buttons {
            display: flex;
            justify-content: center;
            padding-bottom: 0.5em;
        }

        .player_right-buttons {
            border-left: solid 1px rgba($black, $player-separator-opacity);
        }

        .player_current {
            display: flex;
            justify-content: space-around;
            align-items: center;
            width: calc(100% - 173px);
        }

        .player_slider {
            width: calc(100% - 100px);
        }
    }

    .player_bottom {
        position: absolute;
        right: 0;
        top: 57px;
        width: calc(100% - 300px);
        height: calc(100% - 57px);
        padding: 50px 50px * 1.6;
        overflow: auto;

        .player_detail {
            .player_detail_header {
                margin-bottom: 50px * 1 / 1.6;
                font-size: 3em;
                display: flex;
                align-items: center;

                .player_detail_image {
                    flex-shrink: 0;
                    width: 200px;
                    height: 200px;
                    @include material-shadow(2);
                    margin-right: 50px;
                    background-size: cover;
                    background-position: center;
                    background-repeat: no-repeat;
                }

                .player_detail_header_right {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;

                    > * {
                        margin: 5px 0;
                    }

                    .player_detail_title {
                        font-weight: 500;
                    }

                    .player_detail_feed-title {
                        font-family: $font-roboto-condensed;
                        font-size: 0.7em;
                        font-weight: 300;

                        cursor: pointer;
                    }
                }
            }

            .player_detail_body {
                .player_detail_date {
                    margin-bottom: 20px;
                    font-family: $font-roboto-condensed;
                    color: rgba($black, 0.8);

                    transition-property: color;
                }

                .player_detail_description {
                    line-height: 1.5;

                    * {
                        max-width: 100%;
                    }

                    a {
                        color: rgba($black, 0.8);
                        box-shadow: inset 0 -1px rgba($black, 0.7);

                        &:hover {
                            box-shadow: none;

                            color: $white;
                            background-color: $red500;
                        }
                    }
                }
            }
        }
    }

    &.light-colors {
        color: $white;

        .player_episode_feed-title {
            color: rgba($white, 0.7) !important;
        }

        .player_button {
            color: $white;
        }

        .player_queue-container {
            border-right: solid 1px rgba($white, $player-separator-opacity);
        }

        .player_right-buttons {
            border-left: solid 1px rgba($white, $player-separator-opacity) !important;
        }

        .player_bottom {
            .player_detail {
                .player_detail_body {
                    .player_detail_date {
                        color: rgba($white, 0.8);
                    }

                    .player_detail_description {
                        a {
                            color: rgba($white, 0.8);
                            box-shadow: inset 0 -1px rgba($white, 0.7);

                            &:hover {
                                color: $red500;
                                background-color: $white;
                            }
                        }
                    }
                }
            }
        }

        .player_queue_header {
            color: rgba($white, 0.5);
            border-bottom: solid 1px rgba($white, $player-separator-opacity);
        }
    }
}

.player-expanded .player {
    height: 100%;

    .player_queue-container {
        .player_queue_header {
            display: flex;
            height: 58px;
            align-items: center;
            justify-content: center;
            flex-shrink: 0;
        }

        .player_queue {
            width: 100%;
            margin-top: 58px;
            overflow-y: auto;

            cbus-queue-item:first-of-type {
                opacity: 0;
                pointer-events: none;
                height: 0;
            }
        }
    }

    .player_queue_buttons {
        display: none;
    }

    .player_top {
        border-bottom: solid 1px rgba($black, $player-separator-opacity);
    }
}

.player-expanded .player.light-colors {
    .player_top {
        border-bottom: solid 1px rgba($white, $player-separator-opacity);
    }
}

.snackbar_buttons {
    display: flex;

    align-items: center;
    align-content: space-between;

    .snackbar_button {
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: 2px;
        background: transparent;
        padding: 0.2em 0.5em;
        border: none;
        color: $yellow500;
        border-radius: 4px;
        cursor: pointer;

        transition-property: background;

        &:hover {
            background-color: rgba($white, 0.1);
        }
    }
}

.podcast-detail-container {
    position: absolute;
    right: 0;
    top: 0;
    width: 500px;
    height: 100%;
    max-width: 100%;
    z-index: 2;

    overflow-x: hidden;
    overflow-y: auto;

    background-color: $white;
    transform: translateX(100%);

    transition-property: transform;

    .podcast-detail {
        $padding: 50px;

        .podcast-detail_controls {
            .podcast-detail_control {
                font-family: $font-roboto-condensed;

                padding: 0.5em 0.7em;
                cursor: pointer;
                border-radius: 4px;
                border: none;
                background: rgba($black, 0.1);

                &.podcast-detail_control--toggle-subscribe {
                    &:before {
                        content: "Subscribe";
                    }

                    &.subscribed {
                        &:before {
                            content: "Subscribed";
                        }

                        &:hover {
                            background-color: $red500;
                            color: $white;

                            &:before {
                                content: "Unsubscribe";
                            }
                        }
                    }
                }
            }
        }

        .podcast-detail_header {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;

            padding: $padding;

            .podcast-detail_header_image {
                $size: 200px;
                width: $size;
                height: $size;

                background-size: cover;

                @include material-shadow(2);
            }

            .podcast-detail_header_text {
                display: inherit;
                flex-direction: inherit;
                justify-content: inherit;
                align-items: inherit;

                font-family: $font-roboto-condensed;

                margin: 1.5em 0;
                line-height: 1.5;

                > * {
                    margin: 5px 0;
                }

                .podcast-detail_header_title {
                    font-size: 2em;
                    font-weight: 700;
                }

                .podcast-detail_header_publisher {
                    color: rgba($black, 0.7);
                }
            }

            &.light-colors {
                color: $white;

                .podcast-detail_controls {
                    .podcast-detail_control {
                        background: rgba($white, 0.1);
                        color: $white;
                    }
                }

                .podcast-detail_header_publisher {
                    color: rgba($white, 0.7);
                }
            }
        }

        .podcast-detail_episodes {
            cbus-podcast-detail-episode {
                .podcast-detail_episode_container {
                    display: flex;
                    align-items: center;

                    padding: $padding/4 $padding/2;
                    background-color: $grey100;

                    &:first-child {
                        padding-top: $padding/2;
                    }

                    .podcast-detail_episode_info {
                        padding-right: 20px;
                        border-right: solid 1px $grey300;
                    }

                    .podcast-detail_episode_description {
                        font-size: 0.85em;
                    }
                }
            }
        }
    }
}

body.podcast-detail-visible {
    background-color: $grey300;

    .content-container {
        opacity: 0.5;

        .content {
            pointer-events: none !important;
        }
    }

    .podcast-detail-container {
        transform: translateX(0);
        @include material-shadow(2);
    }
}
