*, :before, :after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: inherit;
  font-size: inherit;
  text-decoration: none;
  transition-duration: .3s;
  transition-property: none; }

html, body {
  overflow-y: visible; }

body {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 17px;
  color: #212121;
  background-color: #F5F5F5;
  padding: calc(58px + 10px) 58px; }

.hidden {
  display: none !important; }

.no-style * {
  font: inherit; }

.button {
  box-sizing: content-box;
  background: none;
  border: none;
  padding: 0.3em;
  margin: 0 0.1em;
  border-radius: 50%;
  cursor: pointer;
  width: 1em;
  height: 1em;
  transition-property: color, background, box-shadow; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Roboto Condensed", sans-serif; }

h1 {
  font-size: 2em; }

h2 {
  font-size: 1.5em;
  font-weight: 300;
  text-transform: uppercase; }

h3 {
  font-size: 1.3em; }

input {
  font: inherit; }

header {
  background-color: #F44336;
  color: #FFFFFF;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 58px;
  text-align: center;
  z-index: 2;
  padding: 0.5em 0;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23); }

.header_actions {
  position: absolute;
  right: 0;
  top: 0;
  margin: 0.5em; }
  .header_actions .header_action {
    color: #FFFFFF; }

.filters {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  margin-top: 58px;
  padding: 20px 58px;
  transform: translateY(-100%);
  background-color: #FFFFFF;
  z-index: 1;
  transition-property: transform; }
  .filters > div {
    display: inline-block; }

.filters-visible .filters {
  transform: translateY(0);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }

.filters .filters_feeds div, .filters .filters_control {
  border-radius: 50%;
  cursor: pointer;
  display: inline-block;
  overflow: hidden;
  width: 50px;
  height: 50px;
  margin: 5px;
  background-position: center;
  background-size: cover; }
.filters .filters_controls .filters_control {
  background-color: #4DD0E1;
  color: #FFFFFF;
  border: none;
  cursor: pointer; }
  .filters .filters_controls .filters_control .filters_control--add-feed:before {
    content: "add"; }
  .filters .filters_controls .filters_control .filters_control--delete-feed:before {
    content: "delete"; }

.list--episodes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
  transition-property: width, transform, opacity; }

.filters-visible .list--episodes {
  transform: translateY(94px);
  pointer-events: none;
  cursor: default;
  opacity: 0.5; }

.podcast_image {
  width: 100px;
  height: 100px; }

cbus-episode {
  display: inline-block;
  flex-shrink: 0;
  position: relative;
  width: 250px;
  height: 250px;
  overflow: hidden;
  color: #FFFFFF;
  margin: 10px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }
  cbus-episode .episode_background {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-size: cover; }
  cbus-episode .episode_innards-container {
    z-index: 1;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), transparent);
    padding: 20px; }
  cbus-episode .episode_audio_player {
    display: none; }
  cbus-episode .episode_audio_buttons {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 20px; }
    cbus-episode .episode_audio_buttons .episode_audio_button--play {
      color: #FFFFFF;
      background-color: #F44336;
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
      transition-property: box-shadow; }
      cbus-episode .episode_audio_buttons .episode_audio_button--play:hover {
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23); }
    cbus-episode .episode_audio_buttons:hover .episode_audio_button--enqueue {
      opacity: 1; }
    cbus-episode .episode_audio_buttons .episode_audio_button--enqueue {
      opacity: 0;
      color: #FFFFFF;
      text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
      transition-property: box-shadow, opacity; }
  cbus-episode .episode_description-container {
    margin: 10px 0;
    height: 210px;
    overflow-y: auto;
    display: none; }
  cbus-episode .episode_feed-title {
    margin-top: 0.3em;
    font-weight: 400; }

.player {
  display: flex;
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #4DD0E1;
  color: #000000;
  height: 58px;
  z-index: 2;
  box-shadow: 0 -3px 6px rgba(0, 0, 0, 0.16), 0 -3px 6px rgba(0, 0, 0, 0.23);
  transition-property: height; }
  .player .player_queue-container {
    display: flex;
    width: 300px;
    border-right: solid 1px rgba(0, 0, 0, 0.5); }
    .player .player_queue-container .player_queue {
      width: 242px;
      overflow-y: auto; }
      .player .player_queue-container .player_queue cbus-queue-item {
        display: block;
        width: 100%; }
      .player .player_queue-container .player_queue .player_episode {
        display: flex; }
        .player .player_queue-container .player_queue .player_episode .player_episode_image {
          flex-shrink: 0;
          width: 58px;
          height: 58px;
          background-size: cover;
          background-position: center;
          background-repeat: no-repeat;
          background-color: lightgrey; }
        .player .player_queue-container .player_queue .player_episode .player_episode_info {
          padding: 0.5em;
          font-family: "Roboto Condensed", sans-serif;
          overflow: hidden; }
        .player .player_queue-container .player_queue .player_episode .player_episode_feed-title {
          color: rgba(0, 0, 0, 0.7); }
        .player .player_queue-container .player_queue .player_episode .player_episode_title, .player .player_queue-container .player_queue .player_episode .player_episode_feed-title {
          white-space: nowrap;
          text-overflow: ellipsis;
          overflow: hidden; }
  .player .player_top {
    display: flex;
    width: calc(100% - 300px);
    height: 58px; }
    .player .player_top .player_buttons {
      display: flex;
      justify-content: center;
      padding-bottom: 0.5em; }
    .player .player_top .player_right-buttons {
      border-left: solid 1px rgba(0, 0, 0, 0.5); }
    .player .player_top .player_button {
      margin: 0; }
      .player .player_top .player_button:hover {
        color: #F44336; }
    .player .player_top .player_current {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: calc(100% - 173px); }
    .player .player_top .player_slider {
      width: calc(100% - 100px); }

.player-expanded .player {
  height: 100%; }
  .player-expanded .player .player_top {
    border-bottom: solid 1px rgba(0, 0, 0, 0.5); }

/* Material styles */
.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;
  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;
  /* Support for IE. */
  font-feature-settings: "liga"; }

.material-icons.md-18 {
  font-size: 18px; }

.material-icons.md-24 {
  font-size: 24px; }

.material-icons.md-36 {
  font-size: 36px; }

.material-icons.md-48 {
  font-size: 48px; }

.material-icons.md-dark {
  color: rgba(0, 0, 0, 0.54); }

.material-icons.md-dark.md-inactive {
  color: rgba(0, 0, 0, 0.26); }

.material-icons.md-light {
  color: white; }

.material-icons.md-light.md-inactive {
  color: rgba(255, 255, 255, 0.3); }

.material-icons.md-inactive {
  opacity: 0.7; }

/*# sourceMappingURL=style.css.map */
