*, :before, :after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;

    transition-duration: .3s;
    transition-property: none;
}

html, body {
    overflow-y: visible;
}

body {
    -webkit-user-select: text;
}

.hidden {
    display: none;
}

.shadow, .shadow-hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    outline: none;
    transition-property: box-shadow;
}

.shadow-hover:hover, .shadow:focus {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.podcast_image {
    width: 100px;
    height: 100px;
}

.player {
    position: fixed;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    background-color: yellow;
    padding: 0.5em;
}

.player_slider {
    width: 500px;
}

.player_buttons {
    display: flex;
    justify-content: center;
    padding-bottom: 0.5em;
}

.player_button {
    background: none;
    border: none;
    padding: 0.1em;
    margin: 0 0.1em;
    border-radius: 50%;
    cursor: pointer;
}
