*, :before, :after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;

    transition-duration: .3s;
    transition-property: none;
}

html, body {
    overflow-y: visible;
}

body {
    -webkit-user-select: text;
}

.podcast_image {
    width: 100px;
    height: 100px;
}
