*, :before, :after {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    text-decoration: none;

    transition-duration: 0.3s;
    transition-property: none;
}

body {
    box-sizing: border-box;

    background-color: #F5F5F5;

    font-family: "Catamaran", "Noto Sans", "Noto Sans CJK SC", "Noto Sans CJK TC", "Noto Sans CJK KR", "Noto Sans CJK JP", sans-serif;
    font-size: 17px;
}

h1, h2, h3, h4, h5, h6 {
    /*font-family: "Roboto Condensed", sans-serif;*/
    font-weight: 700;
}

h1 {
    font-size: 5em;
}

a.big {
    display: block;

    margin: 1em;
    font-size: 1.3em;
    font-weight: 500;
    padding: 0.7em 1em;
    min-width: 200px;
    text-align: center;
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);

    transition-property: box-shadow;
}

a.big:hover {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

header, section {
    width: 100%;
    padding: 100px 50px;
}

header {
    background-color: #F44336;
    color: #FFFFFF;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

header h1 {
    margin-top: 0.5em;
}

header a.big {
    margin-top: 2em;

    background-color: rgba(255, 255, 255, 0.3);
    color: #FFFFFF;
}
