.tooltipster-cbus {
    border-radius: 4px;
    background: rgba(33, 33, 33, 0.9);
    color: #FFFFFF;
}

.tooltipster-cbus .tooltipster-content {
    font-family: "Roboto Condensed", sans-serif;
    font-size: 17px;
    line-height: normal;
    padding: 0.5em 0.7em;
}
