.tooltipster-cbus {
    border-radius: 4px;
    background: rgba(33, 33, 33, 0.9);
    color: #FFFFFF;
}

.tooltipster-cbus .tooltipster-content {
    font-family: "Catamaran", "Noto Sans", "Noto Sans CJK SC", "Noto Sans CJK TC", "Noto Sans CJK KR", "Noto Sans CJK JP", sans-serif;
    font-size: 17px;
    line-height: normal;
    padding: 0.5em 0.7em;
    font-weight: 500;
}
